@charset "utf-8";
body,input[type=email],input[type=number],input[type=password],input[type=text],option,select,input{font-family:'proxima-nova','Noto Sans KR',sans-serif !important}
html{font-size:14px;line-height:22px;color:#555}
body{margin:0;word-break:keep-all;-ms-overflow-style:-ms-autohiding-scrollbar}
button,input,pre,textarea{font-family:inherit;font-size:inherit;color:inherit}
body,html{height:100%}
fieldset,ol,ul{margin:0;padding:0}
ol,ul{list-style:none}
dd,dl,h1,h2,h3,h4,h5,input,p,pre{margin:0}
input[type=email],input[type=number],input[type=password],input[type=text],legend,td,th{padding:0}
button,input[type=email],input[type=number],input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button,input[type=password],input[type=text],select,textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none}
button,textarea{border:0}
/* input, button:focus {outline:none} */
textarea{resize:none;padding:0}
button{padding:0;background-color:rgba(0,0,0,0);border-radius:0;cursor:pointer}
a{text-decoration:none!important;color:inherit}
h1,h2,h3,h4,h5,strong,th{font-weight:400}
address,em{font-style:normal}
fieldset{border:0;border-radius:0}
table{border-collapse:collapse}
img{max-width:100%;vertical-align:top;border:0}
button:disabled,input:disabled{background-color:transparent}
pre{white-space:pre-wrap}
label{cursor:pointer}
main{display:block}
del{text-decoration:line-through}
input[type=email],input[type=number],input[type=password],input[type=text]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border-radius:0;border-width:0}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{appearance:none;-webkit-appearance:none;margin:0}
input[type=number]{-moz-appearance:textfield}
input::-ms-clear{display:none}
.input_check label:before,
.pos_center_after:after,
.pos_center_before:before,
.spr_after:after,
.spr_before:before{overflow:hidden;display:inline-block;background-repeat:no-repeat;text-indent:-200%;vertical-align:top;content:''}
.pos_center_after,
.pos_center_before{position:relative}
.btn_arr:before,
.input_text button:before,
.pos_center,
.pos_center_after:after,
.pos_center_before:before{position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.btn_like:before,
.btn_reply:before,
.pos_center.h,
.pos_center_after.h:after,
.pos_center_before.h:before,
.wrap_board .pages{top:0;-webkit-transform:translate(-50%,0);-ms-transform:translate(-50%,0);-o-transform:translate(-50%,0);transform:translate(-50%,0)}
.btn_coupon:after,
.gnb li:nth-last-child(3):before,
.input_select:before,
.input_text button,
.pos_center.v,
.pos_center_after.v:after,
.pos_center_before.v:before,
.lnb_with_cont .cont>.func>li:first-child:after,
.snb.magazine li+li:before,
.viewdetail .info .links li+li:before{left:0;-webkit-transform:translate(0,-50%);-ms-transform:translate(0,-50%);-o-transform:translate(0,-50%);transform:translate(0,-50%)}
.hide{display:none!important}
.light[class*=btn_],
.list_tab .active a,
.list_tab .active button,
.list_tab .active>strong,
.lnb .list_lnb,
.pages .link,[class*=tit_]{color:#333}
input.tc_3:hover::-webkit-input-placeholder{color:#333!important}
input.tc_3:hover::-moz-placeholder{color:#333!important}
input.tc_3:hover:-ms-input-placeholder{color:#333!important}
input.tc_3:hover::placeholder{color:#333!important}
input.tc_3:focus::-webkit-input-placeholder{color:#333!important}
input.tc_3:focus::-moz-placeholder{color:#333!important}
input.tc_3:focus:-ms-input-placeholder{color:#333!important}
input.tc_3:focus::placeholder{color:#333!important}
textarea.tc_3:hover::-webkit-input-placeholder{color:#333!important}
textarea.tc_3:hover::-moz-placeholder{color:#333!important}
textarea.tc_3:hover:-ms-input-placeholder{color:#333!important}
textarea.tc_3:hover::placeholder{color:#333!important}
textarea.tc_3:focus::-webkit-input-placeholder{color:#333!important}
textarea.tc_3:focus::-moz-placeholder{color:#333!important}
textarea.tc_3:focus:-ms-input-placeholder{color:#333!important}
textarea.tc_3:focus::placeholder{color:#333!important}
.wrap_login .cert_num>.error{margin-bottom:20px}
.wrap_login .cert>.phone p.error{bottom:-25px}
.wrap_login .cert>.error{margin-bottom:20px}
.wrap_login .wrap_radio+.error,
.wrap_login .wrap_radio+.error+.error,
.wrap_login .wrap_radio+.input_text+.error{margin-bottom:32px}
.email.error>.error:first-child+.error p.error,
.qnq_write .email>.error+.text+.error p.error,
.qnq_write .phone>.error+.error p.error,
.site_main.join .birthday>.error+.error p.error,
.site_main.join .email>.error+.text+.error p.error,
.site_main.join .phone>.error+.error p.error,
.site_main.login .phone>.error+.error p.error{display:none!important}
.qnq_write .phone:nth-child(2) p.error,
.site_main.join .birthday .input_select:nth-child(2) p.error,
.site_main.join .phone .input_text:nth-child(2) p.error{left:-96px}
.qnq_write .phone:nth-child(3) p.error,
.site_main.join .birthday .input_select:nth-child(3) p.error,
.site_main.join .phone .input_text:nth-child(3) p.error{left:-192px}
.qnq_write .email>.input_text:nth-child(3) p.error,
.site_main.join .email>.input_text:nth-child(3) p.error{left:-280px}
.site_main.login .phone .input_text:nth-child(2) p.error{left:-107px}
.site_main.login .phone .input_text:nth-child(3) p.error{left:-207px}
.error [class*=input_],
.site_main.join .cert.error,[class*=input_].error{margin-bottom:20px}
td .error [class*=input_],td .site_main.join .cert.error,td [class*=input_].error{margin-bottom:20px}
.site_main.join .cert .error,[class*=input_] .error{position:absolute;left:0;bottom:-24px;font-size:13px;padding-left:1px;line-height:17px;display:none;white-space:nowrap}
[class*=input_].error{position:relative}
.desc_small,
.desc_sub{line-height:21px}
.desc_sub{font-size:13px}
.desc_small{font-size:12px}
.lnb .tit_lnb,
.slides.black .info,
.tc_1,
.tit_page,
.wrap_board .ans:before,[class*=btn_]{color:#111}
.lnb .list_lnb .dep2,
.magazine_tags .flag:focus,
.magazine_tags .flag:hover,
.small[class*=btn_],
.tc_5,
.text_link{color:#555}
.sort a,
.sort button,
.tc_8{color:#888}
.dark[class*=btn_],
.flag.new,
.lnb.white .list_lnb,
.lnb.white .list_lnb .dep2,
.lnb.white .tit_lnb,
.out,
.tc_f{color:#fff}
.slides.seasonissue .white .tc_3,
.slides.white .desc,
.slides.white .info,
.slides.white .name,
.slides .item.white .desc,
.slides .item.white .info,
.slides .item.white .name,
.tc_f .tc_1,
.tc_f .tc_3,
.white .btn_like .count{color:#fff!important}
.tc_b,
.tc_b [class^=btn_]{color:#bbb}
input.tc_3::-webkit-input-placeholder{color:#bbb!important}
input.tc_3::-moz-placeholder{color:#bbb!important}
input.tc_3:-ms-input-placeholder{color:#bbb!important}
input.tc_3::placeholder{color:#bbb!important}
input.tc_3::-webkit-input-placeholder{color:#bbb!important}
input.tc_3::-moz-placeholder{color:#bbb!important}
input.tc_3:-ms-input-placeholder{color:#bbb!important}
input.tc_3::placeholder{color:#bbb!important}
textarea.tc_3::-webkit-input-placeholder{color:#bbb!important}
textarea.tc_3::-moz-placeholder{color:#bbb!important}
textarea.tc_3:-ms-input-placeholder{color:#bbb!important}
textarea.tc_3::placeholder{color:#bbb!important}
textarea.tc_3::-webkit-input-placeholder{color:#bbb!important}
textarea.tc_3::-moz-placeholder{color:#bbb!important}
textarea.tc_3:-ms-input-placeholder{color:#bbb!important}
textarea.tc_3::placeholder{color:#bbb!important}
.order_discontent select[disabled],
.table_st .disabled :not(.alram){color:#bbb!important}
::-webkit-input-placeholder,
.out_reason .input_textarea textarea::-webkit-input-placeholder{color:#bbb}
::-moz-placeholder,
.out_reason .input_textarea textarea::-moz-placeholder{color:#bbb}
:-ms-input-placeholder,
.out_reason .input_textarea textarea:-ms-input-placeholder{color:#bbb}
input::placeholder{color:#bbb}
.tc_err{color:#f32323!important}
.btn_like.selected .count,
.tc_poi{color:#ff4e25!important}
.tc_d0{color:#d0d0d0}
.input_checkbox label:before,
.input_number [class^=btn_],
.input_radio label:before,
.input_radio_check label:before,
.lc_d0,
.table_st td,
.table_st th,
.table_st.lc_d0,[class^=btn_].lc_d0{border-color:#d0d0d0}
.dark[class*=btn_],
.lc_1{border-color:#111}
.input_text input:not([readonly]):focus,
.input_text input:not([readonly]):hover,
.input_textarea textarea:focus,
.input_textarea textarea:hover,
.lc_3,
.lc_3_a:after,
.lc_3_b:before,
.list_tab .active a,
.list_tab .active button,
.list_tab .active>strong,
.my_orders .order_detail th.lc_3,
.order_form .sel_payment input:checked+label,
.order_form .sel_payment input:focus+label,
.pages em.link,
.slides.black .slick-arrow:after,
.table_st{border-color:#333}
.lc_3_i{border-color:#333!important}
.input_select:before{border-color:#333 transparent transparent transparent}
.input_select.disabled:before{border-color:#bbb transparent transparent transparent}
.lc_5,
.magazine_tags .flag:focus,
.magazine_tags .flag:hover,
.text_link:before{border-color:#555}
.lc_8,
.tc_8.text_link:before{border-color:#888}
.lc_e,
.table_st.v td,
.table_st.v th,
.table_st.v tr:last-child td,
.table_st.v tr:last-child th{border-color:#eee}
.lc_d{border-color:#ddd}
.lc_f,
.lc_f_b:before,
.lnb.white .list_lnb,
.slides.white .slick-arrow:after,
.wrap_board .item.view,
.btn_close.lc_f{border-color:#fff}
.input_radio_check .lc_f_b:before,
.feedview_slides .lc_f_a:after{border-color:#fff!important}
.btn_coupon,
.flag.tag,
.input_select.disabled,
.lc_e5,
.lc_e5[class*=btn_],
.lc_e5_b:before,
.table_st td:first-child input[disabled]+label:before{border-color:#e5e5e5}
.lc_poi{border-color:#ff4e25}
.lc_b,
.lc_b_a:after,
.lc_b_b:before,
.site_step>span:after,[class*=btn_]{border-color:#bbb}
.lc_0{border-color:#000}
.cert .phone.error,
.error .input_checkbox label:before,
.error .input_file input,
.error .input_file label,
.error .input_radio label:before,
.error .input_select,
.error .input_text input,
.error textarea,
.input_file.error input,
.input_file.error label,
.input_select.error,
.input_text.error input,
.lc_err{border-color:#f32323!important}
[class*=btn_]{display:inline-block;vertical-align:top}
.error [class*=input_] .error,
.input_text button:focus,
.input_text button:hover,
.input_text input:focus+button,
.input_text input:hover+button,[class*=input_].error .error{display:block}
.bg_def,
.bg_f7,
.wrap_board .item.view{background-color:#f7f7f7}
.bg_a7{background-color:#a7a7a7}
.banner_top.bg_f .btn_close:after,
.banner_top.bg_f .btn_close:before,
.bg_1,
.wrap_layer>.btn_close.bg_1,
.dark[class*=btn_],
.flag.new{background-color:#111}
.banner_top.bg_0 .btn_close:after,
.banner_top.bg_0 .btn_close:before,
.bg_f,
.input_radio label:before,
.list_tab a,
.list_tab button,
.list_tab li>strong,
.timeattack .slides .slick-dots .slick-active button{background-color:#fff}
.bg_8,
.timeattack .slides .slick-dots button{background-color:#888}
.bg_0{background-color:#000}
.bg_b,
.bg_b_a:after,
.bg_b_b:before,
.gnb li:nth-last-child(3):before{background-color:#bbb}
.bg_poi,
.bg_poi_a:after{background-color:#ff4e25}
.bg_d0,
.bg_d0_a:after,
.bg_d0_b:before,
.input_number [class^=btn_]:after,
.input_number [class^=btn_]:before,
.out,
.slides .slick-dots button,
.snb.magazine li+li:before{background-color:#d0d0d0}
.bg_d5,
.bg_d5_a:after,
.bg_d5_b:before{background-color:#d5d5d5}
.bg_f4{background-color:#f4f4f4}
.bg_f0,
.input_select select[disabled],
.table_st td:first-child input[disabled]+label:before{background-color:#f0f0f0}
.bg_5,
.dot_list li:before{background-color:#555}
.bg_d,
.bg_d_b:before,
.event_sort.sort li+li:before,
.wrap_board .sort li+li:before{background-color:#ddd}
.bg_e,
.bg_e_a:after,
.bg_e_b:before{background-color:#eee}
.bg_e5,
.bg_e5_a:after,
.bg_e5_b:before,
.lnb_with_cont .cont>.func>li:first-child:after,
.viewdetail .info .links li+li:before{background-color:#e5e5e5}
.bg_3,
.bg_3_a:after,
.bg_3_b:before,
.input_radio label:after,
.list_tab:after,
.slides .slick-dots .slick-active button{background-color:#333}
.dis_f,
.list_product,
.pages{display:-ms-flexbox;display:flex}
/* .dis_f .dis_if[class*=input_],
.dis_if,
.list_product>li,
.pages .link,
.slide_main_release .item .info .brand,
.slide_main_release .item .info .desc,
.slides .slick-dots li,[class*=btn_]{display:-ms-inline-flexbox;display:inline-flex}
.fw_wrap,
.list_product{-ms-flex-wrap:wrap;flex-wrap:wrap}
.ai_c,
 .pages .link,[class*=btn_]{-ms-flex-align:center;align-items:center}
.ai_s{-ms-flex-align:start;align-items:flex-start}
.ai_e{-ms-flex-align:end;align-items:flex-end}
.jc_c,
.pages,
.pages .link,[class*=btn_]{-ms-flex-pack:center;justify-content:center} */
.jc_s{-ms-flex-pack:start;justify-content:flex-start}
.jc_e{-ms-flex-pack:end;justify-content:flex-end}
.ac_s{-ms-align-content:flex-start;align-content:flex-start}
.ac_e{-ms-align-content:flex-end;align-content:flex-end}
.ac_c{-ms-align-content:center;align-content:center}
.as_s{-ms-align-self:flex-start;align-self:flex-start}
.fd_c{-ms-flex-direction:column;flex-direction:column}
.input_select{display:inline-block;vertical-align:top;position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background-color:#fff}
.input_select select{display:block;width:100%;height:38px;background-color:transparent;border-radius:0;border:0;}
.input_textarea{display:inline-block}
.input_textarea textarea{display:inline-block;font-size:14px;line-height:22px;vertical-align:top;background-color:transparent;overflow-x:hidden;overflow-y:auto;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;min-height:120px;width:100%}
.input_textarea .count{text-align:right;font-size:13px;line-height:22px;margin-top:10px}
.list_tab{width:100%;position:relative}
.list_tab:after{content:'';position:absolute;width:100%;height:2px;left:0;bottom:0;z-index:1}
.list_tab a,
.list_tab button,
.list_tab li>strong{width:100%;border-width:1px 1px 0;line-height:20px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-weight:500}
.list_tab li{position:relative}
.list_tab li+li{margin-left:-1px}
.list_tab .active{z-index:2;}
.list_tab.length2 li{width:calc(50% + .5px)}
.list_tab.length3 li{width:calc(33.3333333333% + .6666666667px)}
.list_tab.length4 li{width:calc(25% + .75px)}
.list_tab.length5 li{width:calc(20% + .8px)}
.list_tab.length6 li{width:calc(16.6666666667% + .8333333333px)}
.list_tab.length7 li{width:calc(14.2857142857% + .8571428571px)}

.s_out,legend{position:absolute;width:0;height:0;line-height:0;overflow:hidden;text-indent:10rem;white-space:nowrap;color:rgba(0,0,0,0);border:0;padding:0;}
.ellipsis{text-overflow:ellipsis;overflow:hidden;display:block;white-space:nowrap}
.set_transition{-webkit-transition-duration:.3s;-o-transition-duration:.3s;transition-duration:.3s;-webkit-transition-timing-function:cubic-bezier(.645,.045,.355,1);-o-transition-timing-function:cubic-bezier(.645,.045,.355,1);transition-timing-function:cubic-bezier(.645,.045,.355,1)}
.clear:after{content:'';display:block;width:0;height:0;line-height:0;opacity:0;overflow:hidden;clear:both}

.clear {clear:both}
.flt_le {float:left}
.dis_in {display:inline-block}
.dis_blk {display:block}
.box_right, .box_left {vertical-align: middle; position:relative; float:left; width:50%; display:inline-block;}
.blind {position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;margin:-1px;overflow:hidden}
.ico {display:inline-block; background:url("../common/images/ico/spr_b.png") center center/ cover; background-size: 300px 300px}

/* 레이어 팝업 */
.dim_layer {position:fixed;z-index:200;left:0;top:0;bottom:0;right:0;background-color:rgba( 0, 0, 0, 0.8)}
.dim_layer .popuplayer {width:100%; vertical-align: middle; text-align: center; margin:0 auto; position:absolute; top:35%; left:0%}
.popuplayer .popup_area {padding:20px; display:inline-block; margin:0 auto; text-align:center; background-color: #fff}
.popuplayer .popup_area.wd260 {width:260px; border-radius:5px}
.popuplayer .popup_area .title {margin-top:20px; font-size:22px; font-weight:bold; color:#333}
.popuplayer .popup_area .txt {margin:14px 0 23px; line-height:24px; font-size:19px}
.popuplayer .popup_area .subtxt {margin:9px 0 23px; line-height:20px; font-size:14px}
.popuplayer .popup_area .btns button {float:left; height:45px}
.popuplayer .popup_area .btns .mgl6 {margin-left:6px}
.popuplayer .popup_area .btns .btn_cancel50 {width:48.5%; color:#000; border:1px solid #111}
.popuplayer .popup_area .btns .btn_confirm50 {width:48.5%; color:#fff; background-color: #111}
.popuplayer .popup_area .btns .btn_confirm100 {width:100%; color:#fff; background-color: #111}
/* 레이어 팝업 close button 때문에 추가 */
.dim_layer .wrap_layer{width:320px;border-radius:5px;background-color:#fff;box-shadow:0 15px 40px 0 rgba(0,0,0,.2);left:50%;top:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.dim_layer .popuplayer.wrap_layer button.btn_close {padding:20px}
.dim_layer .wrap_layer>.btn_close{position:absolute;right:0px;top:0px;background-color:rgba(0,0,0,0);width:30px;height:30px;min-width:20px}
.dim_layer .wrap_layer>.btn_close:after,.dim_layer .wrap_layer>.btn_close:before{width:2px;height:28px}
.dim_layer .wrap_layer>.btn_close:before{
    -webkit-transform: translate(-50%,-50%) rotateZ(45deg);
    -ms-transform: translate(-50%,-50%) rotateZ(45deg);
    -o-transform: translate(-50%,-50%) rotateZ(45deg);
    transform: translate(-50%,-50%) rotateZ(45deg);
}
.dim_layer .wrap_layer>.btn_close:after{
    -webkit-transform: translate(-50%,-50%) rotateZ(-45deg);
    -ms-transform: translate(-50%,-50%) rotateZ(-45deg);
    -o-transform: translate(-50%,-50%) rotateZ(-45deg);
    transform: translate(-50%,-50%) rotateZ(-45deg);
}

/* back button */
.back .btn_back::after,.back .btn_back::before {z-index:10; background-color:#222;overflow: hidden;display: inline-block;background-repeat: no-repeat;vertical-align: top;content: '';}
.back .btn_back {margin-right:10px;display:block;float:left;background-color:rgba(0,0,0,0);width:40px;height:40px;min-width:20px}
.back .btn_back::after, .back .btn_back::before {position:absolute; top:15px; left:24px; width:2px; height:20px;}
.back .btn_back::before{
    -webkit-transform: translate(-50%,-72%) rotateZ(45deg);
    -ms-transform: translate(-50%,-72%) rotateZ(45deg);
    -o-transform: translate(-50%,-72%) rotateZ(45deg);
    transform: translate(-50%,-72%) rotateZ(45deg);
}
.back a::after{
    -webkit-transform: translate(-50%,-7%) rotateZ(-45deg);
    -ms-transform: translate(-50%,-7%) rotateZ(-45deg);
    -o-transform: translate(-50%,-7%) rotateZ(-45deg);
    transform: translate(-50%,-7%) rotateZ(-45deg);
}

/* searchbar test */
.searchbar input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
.searchbar input[type=text]:focus {
  width: 100%;
}



/* 헤더 */
#header .box_left .logo {display: block; overflow:hidden;}
#header .logo {padding-top:0;margin:10px;width:168px;height:28px; background-position: 0 0;overflow: hidden;vertical-align: middle;}
#header .btn_area {width:100%;}
#header .btn_area li {float:right;}
#header .btn_area .search {margin:10px;width:28px;height:28px; background-position:-65px -32px;overflow: hidden; vertical-align: middle;}
#header .header_title {margin-top:4px; vertical-align: middle; font-weight: bold;font-size:16px; color:#111;}

#cartCntMobile.cart_num {
    display: inline-block; position: absolute; right: -12px; top: -4px; min-width: 15px;height: 20px;padding: 0 4px;border-radius: 10px 10px;text-align: center;
    background: #ff4e25;
	-webkit-border-radius: 10px 10px;
    -moz-border-radius: 10px 10px;
    -ms-border-radius: 10px 10px;
    -o-border-radius: 10px 10px;
    font-size: 11px;
    color: #fff;
}

/* 하단 navigation */
.fixed_b-nav {z-index: 100;position: fixed; bottom: 0; width: 100%; background-color: #fff;-webkit-transition: bottom .4s;-o-transition: bottom .4s; transition: bottom .4s}
.fixed_b-nav.hide {bottom: -40%}
.fbn-list {display: table; width: 100%}
.fbn-list li {display: table-cell; width: 20%; height: 60px; vertical-align: middle; text-align: center; border-top: 1px solid #e5e5e5;}
.fbn-list li.on {border-top:2px solid #333;}
.fbn-list li button {position:relative;}
.fbn-list .fbn-item { color: #333; font-size: 9px; font-weight: 500; background-color: transparent}
.fbn-list .fbn-item::before { content: ''; display: block; width: 20px; height: 20px; margin: 0 auto 4px}

.fbn-list .cate::before { background: url(../common/images/ico/fbn_menu-icon.png) center center/100% no-repeat}
.fbn-list .search::before { background: url(../common/images/ico/fbn_search-icon.png) center center/100% no-repeat}
.fbn-list .home { width: 31px; height: 31px; background: url(../common/images/ico/fbn_home-icon.png) center center/cover no-repeat;  text-indent: -9999px; overflow: hidden}
.fbn-list .home::before { display: none}
.fbn-list .mypage::before { background: url(../common/images/ico/fbn_my-icon.png) center center/100% no-repeat}
.fbn-list .product::before { background: url(../common/images/ico/fbn_product-icon.png) center center/100% no-repeat}
.fbn-list .bag::before { background: url(../common/images/ico/cart-icon.png) center center/100% no-repeat}
.fbn-list .tab_cart span {display: inline-block; position: absolute; top: -5px; right:-10px; min-width: 20px; height: 20px; padding: 0 4px;border-radius: 10px 10px; text-align: center; background: #ff4e25; -webkit-border-radius: 10px 10px; -moz-border-radius: 10px 10px; -ms-border-radius: 10px 10px; -o-border-radius: 10px 10px; font-size: 11px; line-height: 20px; color: #fff;}



#footer {padding:20px 16px 80px 16px}
#footer .footer_top {z-index:1;clear:both;display:inline-block;width:100%;min-width: 50%;padding-bottom: 16px;border-bottom: 1px solid #eee;-ms-flex-pack: start;justify-content: flex-start;text-align: left;}
#footer .footer_top li {position:relative;float:left;display:inline-block;height:22px; margin-right: 24px;}
#footer .footer_top li a {display: block;font-size: 11px;line-height: 26px;color: #888}
#footer .footer_top li::after {position: absolute;top:12px;right:-15px;width: 1px;height: 11px;margin-top: -4px;background-color: #e5e5e5;content: ""}
#footer .info_txt {margin-bottom: 24px;font-size: 11px; line-height: 17px;}
#footer .info_txt strong {font-weight: bold;}
#footer .tel {font-weight: bold;font-size: 18px; color: #888;}
#footer .time {margin:4px 0 22px;}
#footer .addr {line-height:1.5;}
#footer .addr span {display:block;}
#footer .addr br {display:none;}
#footer .addr .name {margin-bottom:10px;}
#footer .left {margin-bottom:24px;padding-top:28px;font-size:11px;}
#footer .tel {font-weight:bold;font-size:18px;color:#888;}
#footer .time {margin:4px 0 22px;}
#footer .addr {line-height:1.5;}
#footer .addr span {display:block;}
#footer .addr br {display:none;}
#footer .addr .name {margin-bottom:10px;}
#footer .inlink {position:absolute;top:0;left:16px;right:16px;padding:16px 0;border-bottom:1px solid #eee;-ms-flex-pack:start;justify-content:flex-start;text-align:left;}
#footer .inlink li {position:relative;height:22px;margin-right:24px;}
#footer .inlink li:after {position:absolute;top:50%;right:-13px;width:1px;height:11px;margin-top:-4px;background-color:#e5e5e5;content:"";}
#footer .inlink li:last-child{margin-right:0;}
#footer .inlink li:last-child:after {display:none;}
#footer .inlink a {display:block;font-size:11px;line-height:26px;color:#888;}
#footer .outlink {width:100%;display:inline-block;}
#footer .outlink a {margin-right:20px;display:block;width:30px;height:30px;border-radius:50%;background-color:#f0f0f0;}
#footer .outlink a:after {width:15px;height:15px;}
#footer .outlink li {width:16.6%;display:block;flex:1; float:left;}
#footer .outlink li:last-child {text-align:right}
.sort a, .sort button, .tc_8 {font-style: normal;color:#888}
#footer .outlink i {display: inline-block;background-repeat: no-repeat;vertical-align:middle;}
#footer .outlink i.fb {margin:5px 10px; width:10px; height:20px;background-position: -114px -201px}
#footer .outlink i.ig {margin: 5px 5px; width: 20px; height: 20px; background-position: -128px -202px}
#footer .outlink i.pin {margin: 5px 5px; width: 20px; height: 20px; background-position: -149px -202px}
#footer .outlink i.blog {margin:6px 0px;width: 28px; height: 20px; background-position: -170px -199px;}
#footer .outlink i.yt {margin: 8px 5px;width: 20px;height: 14px;background-position: -202px -202px}
#footer .footer_top .on_m::after {display: none}
#footer .footer_top li.on_m {margin-right:0}
input::-ms-clear{display: none}


@media all screen (max-width:320px){
#footer .footer_top .on_m {margin:0}
#footer .inlink li {position:relative;height:22px;margin-right:14px;}
#footer .inlink li:after {position:absolute;top:50%;right:-7px;width:1px;height:11px;margin-top:-4px;background-color:#e5e5e5;content:"";}
#footer .inlink li:last-child{margin-right:0;}
#footer .inlink li:last-child:after {display:none;}
#footer .footer_top li {margin-right:18px;}
#footer .footer_top li.on_m {margin-right:0}
}
