<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>검색 메인_default</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="stylesheet" href="common/css/common.css"> -->
        <link rel="stylesheet" href="css/common.css">
        <script src="common/lib/jquery-2.2.4.min.js"></script>
    </head>
    <body>
        <div id="wrap">
            <div id="header">

                <hr>
                메인
                <hr>

                <div class="box_left">
                    <a href="#"><h1 class="dis_in ico logo"><span class="blind">HIPHOPER</span></h1></a>
                </div>
                <div class="box_right">
                    <ul class="btn_area">
                        <li><a href="#" class="ico search"><span class="blind">서치 바로가기</span></a></li>
                    </ul>
                </div>

                <hr>
                쇼핑백
                <hr>

                <div class="box_left back">
                    <a href="#" class="btn_back"><span class="blind">뒤로가기</span></a>
                    <p class="header_title">
                        쇼핑백(<span class="number">99+</span>)
                    </p>
                </div>
                <div class="box_right">
                    <ul class="btn_area">
                        <li><a href="#" class="ico search"><span class="blind">서치 바로가기</span></a></li>
                        <li><a href="#" class="ico search"><span class="blind">서치 바로가기</span></a></li>
                        <li><a href="#" class="ico search"><span class="blind">서치 바로가기</span></a></li>
                    </ul>
                </div>
            </div>


            <div id="container">
                <div class="searchbar">
                    <form>
                      <input type="text" name="searchbar" placeholder="Search..">
                    </form>
                </div>
                <div style="width: 100%; height: 1100px; background-color: gray;">기존 ui area</div>
                <div class="fixed_b-nav">
                    <ul class="fbn-list">
                        <li class="on"><button autofocus="autofocus"  type="button" class="fbn-item cate">카테고리</button></li>
                        <!-- <li><button type="button" class="fbn-item search">검색</button></li> -->
                        <li><button type="button" class="tab_cart fbn-item bag">쇼핑백<span id="cartCntMobile" class="cart_num">99+</span></button></li>
                        <li><button type="button" class="fbn-item home">홈</button></li>
                        <li><button type="button" class="fbn-item mypage">마이 페이지</button></li>
                        <li><button type="button" class="fbn-item product">최근 본 상품</button></li>
                    </ul>
                </div>
            </div>

            <div id="footer">
                <ul class="footer_top">
                      <li><a href="/help/faq">HELP</a></li>
                      <li><a href="https://forms.gle/hfEDKVrC11Hz9xKF6" target="_blank" class="orange">입점문의</a></li>
                      <li class=""><a href="/policy">이용약관</a></li>
                      <li class=""><a href="/privacypolicy">개인정보 처리방침</a></li>
                      <!-- <li class="on_m" v-if="!userToken"><a href="#">로그인</a></li> -->
                      <li class="on_m" v-if="userToken"><a href="#">로그아웃</a></li>
                </ul>
                <div class="inner miw1180 clear">
                    <div class="left">
                         <p class="info_txt">힙합퍼에서 입점 판매되는 모든 브랜드 상품은 <strong>정식제조, 정식수입절차를 통해서 유통되는 100% 정품</strong>입니다.</p>
                         <a href="#" class="tel tc_3">1599-7616</a>
                         <p class="time tc_3">평일 10:00 ~ 17:00 / 점심시간 12:00 ~ 13:30 / 주말, 공휴일 휴무</p>
                         <address class="addr tc_8"><span>(주) 힙합퍼 </span> <span>주소 : 06f531 서울시 서초구 신반포로 339, 1층 (잠원동, 논현빌딩)</span> <span>사업자등록번호 : 211-88-70875</span> <span>통신판매업신고번호 : 제 2018-서울서초-1992호</span><br>
                        <span id="dev_code">개인정보관리책임자 : 문장우</span></address>
                    </div>
                    <div class="right">
                        <ul class="outlink clear dis_f ai_c">
                            <li><a href="https://www.facebook.com/hiphoperdotcom" target="_blank"><i class="ispr fb"><span class="blind">힙합퍼 페이스북</span></i></a></li>
                            <li><a href="https://www.instagram.com/hiphoper_com" target="_blank"><i class="ispr ig"><span class="blind">힙합퍼 인스타그램/span></i></a></li>
                            <li><a href="http://post.naver.com/h_store" target="_blank"><i class="ispr pin"><span class="blind">힙합퍼 포스트</span></i></a></li>
                            <li><a href="http://blog.naver.com/h_store" target="_blank"><i class="ispr blog"><span class="blind">힙합퍼블로그</span></i></a></li>
                            <li><a href="https://www.youtube.com/channel/UCOjxWGrdIet-njboUOpFJTQ/featured?view_as=subscriber" target="_blank"><i class="ispr yt"><span class="blind">힙합퍼 유튜브</span></i></a></li>
                            <li><a href="http://admin.kcp.co.kr/Modules/escrow/kcp_pop.jsp?site_cd=A886N" target="_blank"><img src="common/images/ico/kcp.png" alt="kcp 인증마크"><span class="blind">kcp 인증마크</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <script>
            (function () {
                $(window).scroll(function(){
                    var nowScroll = $(window).scrollTop();

                    if ( nowScroll > 80) {
                        $('.ms-list').addClass('active');
                        $('.fixed_b-nav').addClass('hide');
                        $('.plc_fc-box.hastab').addClass('search_active');
                        $('.plc_fc-box').addClass('active');
                        $('.border_tab-list').addClass('search_active');
                    } else {
                        $('.ms-list').removeClass('active');
                        $('.fixed_b-nav').removeClass('hide');
                        $('.plc_fc-box.hastab').removeClass('search_active');
                        $('.plc_fc-box').removeClass('active');
                        $('.border_tab-list').removeClass('search_active');
                    }
                });
            })(jQuery);
        </script>
    </body>
</html>
