@charset "UTF-8";

.myWrap {padding-bottom:60px; min-width:320px; font-family:'Noto Sans KR'}
.myWrap.pdB0 {padding-bottom:0px}
.myWrap .my_area {clear:both; width:100%}
.myWrap .my_area::after {display:block; content: ''; clear:both; height:7px; background: #f0f0f0;border-top: 1px solid #d0d0d0;}
.myWrap .my_top {margin-bottom:8px;}
.myWrap .myInfo {position:relative; padding:25px 20px; height:40px; text-align:center; border-bottom:1px solid #222; background-color:#000}
.myWrap .myInfo .name {float:left; max-height:35px; font-size:28px; font-weight:500; line-height:1.29; text-align:left; color:#fff}
.myWrap .myInfo .myClass {display:inline-block; margin:14px 0 0 10px; float:left; text-align:left; font-size:16px; font-weight:normal; font-family:'ProximaNova';}
.myWrap .myInfo .btn {position:absolute; top:28px; vertical-align:middle; right:20px; width:88px; height:29px; border-radius:2.5px; border:1px solid #fff}
.myWrap .myInfo .btn button {display:inline-block; vertical-align:middle; width:100%; line-height:2.3; font-size:12px; color:#fff}
.myWrap .myInfo .myInfoBox {max-width:66%}
.myWrap .myInfo .myInfoBox .name {max-width:60%}
.myWrap .myInfo .myInfoBox .name.login {max-width:98%}
.myWrap .myInfoArea {max-width:100%; max-height:90px; background-color:#000}
.myWrap .myInfoArea li.myBox {float:left; vertical-align:middle; height:90px; width:33%; text-align:center; border-right:1px solid #222}
.myWrap .myInfoArea li.myBox .pd {padding:18px 0;}
.myWrap .myInfoArea li.myBox .num {font-size:18px; font-weight:500; letter-spacing:normal; text-align:center; color:#fff}
.myWrap .myInfoArea li.myBox .txt {display:inline-block; margin-top:8px; font-size:13px; font-weight:normal; letter-spacing:normal; text-align:center; color:#888}
.myWrap .myInfoArea li.myBox:last-child {border:none}
.myWrap .myInfoArea .myBox::after {clear:both; content:''; display:block;}
.myWrap .brGry::after {clear:both; display:block; content: ''; height:7px; background:#f0f0f0; border-top: 1px solid #d0d0d0;}
/* 최근 구매 내역 / 문의 상품 선택하기 */
.myWrap .my_lst {padding:25px 20px;}
.myWrap .my_lst .btn_rel {margin:20px auto 0; width:90px; height:30px; text-align:center; vertical-align:middle; border-radius:3px; color:#555; border:1px solid #ababab;}
.myWrap .my_lst .btn_rel button {width:100%; height:30px}
.myWrap .my_lst .no_txt {margin:60px 0 35px 0; text-align:center; font-size:14px; color:#888}
.myWrap .my_lst .no_txt .txt {display:inline-block; margin:0 auto}
.myWrap .sub_tit {font-size:16px; font-weight:500; color:#000}
.myWrap .bg_gry {padding:10px 15px; height:25px; line-height:1.8; background-color:#f9f9f9;}
.myWrap .bg_gry.brB {border-bottom:1px solid #e5e5e5}
.myWrap .bg_gry .num {margin-left:8px}
.myWrap .odrNum {display:block; width:100%; margin-top:15px; overflow:hidden; font-weight:normal; border-radius:3px; border:1px solid #e5e5e5; font-size:13px; color:#888;}
/* 하단 주문 목록, 취소/반품/교환 목록, 할인 쿠폰, 상품평 관리, 멤버십, 고객센터 */
.myWrap .my_menu {padding:0 20px}
.myWrap .my_menu li {font-size:16px; font-weight:500; color:#000; border-bottom:1px solid #f0f0f0}
.myWrap .my_menu li:last-child {border-bottom:0}
.myWrap .my_menu li a {display:block; padding:22px 0;}
.myWrap .my_menu li .mor_arrow {display:inline-block; float:right}
.myWrap .my_menu .badge {display:inline-block; margin-left:10px; line-height:1.5; height:19px; min-width:38.5px; font-size:12px; color:#fff; background-color:#ff4e25}
.myWrap .my_menu .badge .num {font-size:13px}
.myWrap .btn_more {margin:0 15px 20px 15px; text-align:center; color:#555; border-radius:3px; border:1px solid #ababab}
.myWrap .btn_more button {padding:9.5px; width:100%; font-size:14px; font-weight:500; color:#555}
.myWrap .btn_more .orange.num {font-size:16px;}
/* .myWrap .pd_lst li.ord_box {float:left;margin:15px 0; width:100%; border-bottom:1px solid #e5e5e5}
.myWrap .pd_lst li.ord_box:first-child {margin-top:0; padding-bottom:15px}
.myWrap .pd_lst li.ord_box:last-child { padding-bottom:0; border-bottom:none}
.myWrap .pd_lst li:nth-child(1) {padding-top:0} */
.myWrap .pd_lst {padding:20px 15px;}
/* .myWrap .pd_lst {display:inline-block; padding:20px 15px;} */
.myWrap .pd_lst.pd {padding:16px;}
.myWrap .pd_lst.pd0 {padding:0; width:100%;}
.myWrap .pd_lst li.ord_box {display:flex; justify-content:center; align-items:center; float:left; min-height:58px; width:100%; padding:15px 0; border-bottom:1px solid #e5e5e5}
.myWrap .pd_lst li.ord_box:last-child {padding-bottom:0; border-bottom:none}
.myWrap .pd_lst li:nth-child(1) {padding-top:0}
.myWrap .pd_thum {display:inline-block; float:left}
.myWrap .pd_thum a {display:block;}
.myWrap .pd_thum a img {width:80px; height:80px}
.my_area .pd_deWrap {display:block; float:left; margin-left:15px; width:calc(100% - 72px)}
.myWrap .pd_deWrap .pd_brd {display:-webkit-box; text-overflow:ellipsis; overflow:hidden; line-height: 1.3; word-break:break-all; -webkit-line-clamp:2; -webkit-box-orient:vertical; font-size:13px; color:#555}
.myWrap .pd_deWrap .state {margin-top:8px; font-size:14px; font-weight:bold;}
.ico.more_arw {float:right; width:10px; height:16px; margin-left:10px; background-position:-183px -45px}
@media screen and (min-width:320px) and (max-width:860px) {
    .txtwrite_wrap .myWrap .pd_lst li.ord_box {width:94%;}
}
@media screen and (min-width:320px) and (max-width:520px) {
    .txtwrite_wrap .myWrap .pd_lst li.ord_box {width:90%;}
}

/* -------------------------------------------------회원탈퇴------------------------------------------------- */
.withdrawWrap {padding:20px}
.myWrap .wd_tit {padding:22px 0 0 19px; font-size: 16px; font-weight: 500; color: #000; line-height: 1.13;}
.myWrap .guide_lst {width:100%;}
.myWrap .guide_lst table {font-size:12px; line-height: 1.42; text-align: left; color: #333333;}
.myWrap .guide_lst table th, .guide_lst table td {font-size: 12px; border: 1px solid #e5e5e5; box-sizing:border-box;}
.myWrap .guide_lst table th {width:80px; background-color: #f5f5f5; text-align: center;font-weight: 500; box-sizing: border-box;}
.myWrap .guide_lst table td {padding:15px;}
.myWrap .guide_lst p {margin-top:5px;}
.myWrap .caution {padding-top:16px; position:relative; width:100%;}
.myWrap .caution .Warning {width:17px; float:left; height:16px; vertical-align: middle; background-position: -227px -27px;}
.myWrap .caution span {display:inline-block; float:left; width:90%; padding-left:5.5px; font-size:12px; line-height:1.33; text-align:left; color:#888;}

/* ----------------------------------------------내정보관리_아이디 인증----------------------------------------- */
.myWrap .auth_menu {position: relative; width: 100%; height: 55px;}
.myWrap .auth_menu ul {text-align: center; font-size:15px; color:#888}
.myWrap .auth_menu li {float: left; font-size: 15px; width: 50%; height: 55px; line-height: 55px; box-sizing: border-box; border-bottom: 1px solid #d0d0d0;}
.myWrap .auth_menu li.active {color:#ff4e25; border-bottom: 2px solid #ff4e25; margin-bottom: 2px; height: 55px;}
.myWrap .authWrap {position: relative; padding: 0 20px; text-align: center; font-size: 14px;}
.myWrap .authWrap .txt {padding: 40px 36px 25px 30px; color: #555555; letter-spacing: -0.28px; line-height: 1.29;}
.myWrap .authWrap .pw_box input {width: 100%; height: 45px; border: 1px solid #e5e5e5; padding-left: 11px;}
.myWrap .authWrap .pw_box button {margin: 15px 0 0; width: 100%; height: 55px; border-radius: 3px;  background-color: #000; color: #fff; font-size: 18px; font-weight: 500;}
.myWrap .authWrap .auth_box .auth_btn {width: 100%; height: 45px; border: 1px solid #e5e5e5; border-radius: 3px; color: #333333; background-color: #fff; padding-left: 11px; font-family: 'Noto Sans KR'; text-align: left; font-size: 12px; font-weight: normal;}
.myWrap .authWrap .auth_box .auth_btn::before {content: ''; display: inline-block; width: 25px; height: 25px; margin-right: 10px; vertical-align: middle;}
.myWrap .authWrap .auth_box .auth_btn.kakao::before {background: url(https://hhp-image.s3.ap-northeast-2.amazonaws.com/common/kakao_icon.png) center center/cover no-repeat;}
.myWrap .authWrap .auth_box .auth_btn.apple {margin-top: 5px;}
.myWrap .authWrap .auth_box .auth_btn.apple::before {background: url(https://hhp-image.s3.ap-northeast-2.amazonaws.com/common/apple_icon.png) center center/cover no-repeat;}

/* -----------------------------------내정보관리 정보변경 _ 기본정보-------------------------------------------- */
.myWrap .btnMore a {margin:15px 0}
.myWrap .atc {font-family:'Noto Sans KR'}
.myWrap .cont {padding:25px 20px;}
.myWrap .cont .agr_txt {font-size:14px}
.myWrap .cont .tblType2 {font-size:13px}
.myWrap .cont p {margin-bottom:10px; font-weight:400; font-size:12px}
.myWrap .atc .tit {position:relative;}
.myWrap .atc .tit button {padding:15px 0; position:absolute; top:0; right:20px}
.myWrap .atc .tit p {padding:15px 20px; font-size:16px; font-weight:500; color:#000; border-bottom:1px solid #e5e5e5}
.myWrap .atc .tit .brN {border:none}
.my_dft::before, .my_dft::after, .my_pwd::after, .my_cellNum::after, .my_ship::after, .my_accNum::after, .my_wdl::before, .my_wdl::after
{display:block; content:''; clear:both; height:8px; background:#f0f0f0; border-top:1px solid #d0d0d0;}
.my_accNum .ico.sel_arrow {background-position:-87px -49px}
.my_wdl {position:relative}
.my_wdl .request {position:absolute; top:15px; right:20px; display: block; font-size: 11px; color: #888; text-decoration: underline !important;}
.myWrap .bltType {padding:16px; font-size:12px; color:#888; background-color:#f5f5f5;}
.myWrap .bltType li {margin-left:8px; line-height:1.6; text-indent:-8px}
.myWrap .bltType li::before {margin-right:5px; display:inline-block; width:2px; height:2px; vertical-align:2px; content:''; border-radius:30%; -webkit-border-radius:30%;background-color:#888;}
.myWrap .bltType1 {margin:5px 0 10px 0;font-size:10px; color:#888;}
.myWrap .bltType1 li {margin-left:8px; line-height:1.6; text-indent:-8px}
.myWrap .bltType1 li::before {margin-right:5px; display:inline-block; width:2px; height:2px; vertical-align:2px; content:''; border-radius:30%; -webkit-border-radius:30%;background-color:#888;}
.int_btnType1 {display:inline-block; width:82%}
.cont button {display:flex; justify-content:center; align-items:center; padding:10px 0; width:100%}
.cont .accoNum {clear:both; margin-top:10px; display:inline-block; width:100%;}
.cont .intType {clear:both; margin-top:10px;}
.cont .btn_wht {font-size:12px; display:flex; justify-content:center; align-items:center; float:right; margin-left:1%; width:80px; height:38px; text-align:center; vertical-align:middle; color:#333; border:1px solid #333; border-radius:2.5px}
.cont .btn_wht button {font-size:12px}
.cont .btn_gry {clear:both; display:inline-block; width:100%; text-align:center; vertical-align:middle; color:#fff; border-radius:3px; background-color:#5d5e6a}
.cont .btn_gry button {height:45px}
.cont .int_btnType {margin-top:10px;}
.cont .int_btnType input {width:86%}
.cont .int_btnType::after {clear:both; content: ''; display:block;}
.my_dft .cont::after {content:'';display:block;width:0;height:0;line-height:0;opacity:0;overflow:hidden;clear:both}
/* 내정보관리 정보변경 _ 휴대폰 본인 인증 */
.cont .vt_top {vertical-align:top;}
.cont .agr_tle table {width:100%;}
.cont .agr_tle .myWrap .bltType2 {font-size:10px; color:#888;}
.cont .agr_tle .myWrap .bltType2 li {margin-left:8px; line-height:1.6; text-indent:-8px}
.cont .agr_tle .myWrap .bltType2 li::before {margin-right:5px; display:inline-block; width:2px; height:2px; vertical-align:2px; content:''; border-radius:30%; -webkit-border-radius:30%;background-color:#888;}
.cont .bltType3 {font-size:10px; color:#888;}
.cont .bltType3 li {margin-left:8px; line-height:1.6; text-indent:-8px}
.cont .bltType3 li::before {margin-right:5px; display:inline-block; width:2px; height:2px; vertical-align:2px; content:''; border-radius:30%; -webkit-border-radius:30%;background-color:#888;}
.cont .agr_tle th, .cont .agr_tle td {font-size:13px; border:1px solid #e5e5e5;}
.cont .agr_tle th {padding:12px 0;text-align:center; min-width:80px; font-weight:500; background-color:#f5f5f5}
.cont .agr_tle td {padding:12px 15px; text-align:left; font-weight:400;}
/* 기본 배송지  */
.tblType {width:100%}
.tblType .vt_top {vertical-align:top;padding-top:20px}
.tblType.slt td {padding:10px 0}
.tblType table, .tblType2 table {width:100%}
.tblType .input_radio {float:left; width:50%}
.tblType .default_check {float:left; width:50%}
.tblType .default_check span, .tblType .default_check1 .txt {margin-left:10px}
.tblType .default_check label, .tblType .default_check1 label {float:left; font-size:14px; color:#333}
.tblType2 th {width:20%; text-align:left; min-width:80px; font-size:13px; color:#555}
.tblType th, .tblType1 th {width:20%; text-align:left; min-width:80px; font-size:13px; color:#555}
.tblType th, .tblType td {margin-bottom:14px;}
.tblType1 th, .tblType1 td {margin-bottom:14px;}
.tblType2 th, .tblType2 td {padding:5px 5px 5px 0;}
.num-select {width:30%; min-width:60px; float:left; display:inline-block;}
.num-select select {width:100%;}
.num-select .selected {padding:0px 5px; vertical-align:middle; min-height:38px; color:#ababab; background-color:#fff; border:1px solid #e5e5e5; font-size:15px; text-overflow:ellipsis; overflow:hidden; display:block; white-space:nowrap}
.num-select .selected.active {border:1px solid #333; background-color:#fff}
.num-select .sz-select_sub {width:97%; height:200px; overflow-y:auto; border:1px solid #333; border-top:0;}
.num-select .selected .sel_arrow {float:right; margin-top:11px}
/* 결제 체크 박스 */
.sz-custom_text {cursor:pointer}
.sz-custom_label {display:inline-block; width:25px; height:25px; background: url("https://hhp-image.s3.ap-northeast-2.amazonaws.com/item/check_off.png") center center/cover no-repeat;cursor:pointer}
.sz-custom_check:checked ~ .sz-custom_label {background:url("https://hhp-image.s3.ap-northeast-2.amazonaws.com/item/check_on.png") center center/cover no-repeat}
.product-select .sz-custom_label {margin:10px; width:16px; height:16px;}
/* 셀렉트 박스 */
.sltType {display:flex; justify-content:center; align-items:center; float:left; position:relative; width:100%;}
.sltType select {height:40px; border:1px solid #e5e5e5;}
.sltType .sel_arrow {background-position:-87px -50px}
.sltType1 {position:absolute; width:100px; top:-12px; right:15px}
.sltType1 select {display:flex; justify-content:center; align-items:center; padding:10px; width:100%; font-size:13px; color:#ababab; border:1px solid #fff !important}
.sltType1 option {margin:12px; font-size:13px; color:#888}
.sltType select, .sltType option {font-size:13px; font-family:'proxima-nova'}
.last_btn_wrap {z-index:5; position:sticky; padding:15px 20px 44px; max-width:720px; border-top:1px solid #d0d0d0; bottom:0; font-size:17px; background:#fff; box-shadow: 0px -5px 15px 0px rgba(0,0,0,0.05);}
.last_btn_wrap button {border-radius:3px}
.last_btn_wrap .pr_chk_agree {margin-bottom:10px}
.last_btn_wrap .sz-custom_text {margin:2px 0 0 8px}
.last_btn_bk1 {display:block; width:100%; height:45px; line-height:17px; background:#000; font-size:17px; color:#fff}
@media screen and (max-width:320px) {
    .cont .int_btnType input {width:68%}
    .cont .int_btnType1 {width:55%}
}
@media screen and (min-width:300px) and (max-width:719px) {
    .tblType.slt .ico.sel_arrow {-webkit-top:16px}
}
@media screen and (min-width:321px) and (max-width:375px) {
    .cont .int_btnType input {width:71%}
    .cont .int_btnType1 {width:63%}
}
@media screen and (min-width:376px) and (max-width:469px) {
    .cont .int_btnType input {width:74%}
    .cont .int_btnType1 {width:67%}
}
@media screen and (min-width:470px) and (max-width:499px) {
    .cont .int_btnType input {width:79%}
    .cont .int_btnType1 {width:72%}
}
@media screen and (min-width:590px) and (max-width:1920px) {
    .cont .int_btnType input {width:86%}
    .cont .int_btnType1 {width:83%}
}
@media screen and (min-width:500px) and (max-width:699px) {
    .cont .int_btnType input {width:80%}
    .cont .int_btnType1 {width:75%}
}

/* ----------------------------------------- 문의 -------------------------------------------- */
.myWrap .txtCnr {text-align:center}
.myWrap .my_area1 {padding-bottom:50px;}
.myWrap .mypd_lst {display:inline-block; width:100%}
.myWrap .mypd_lst li.ord_box {justify-content:center; align-items:center; float:left; width:100%; border-bottom:1px solid #e5e5e5}
.myWrap .mypd_lst li.ord_box .pd_box { padding:15px 20px;}
.myWrap .pd_thum a {display:block;}
.myWrap .pd_thum a img {width:56px; height:56px}
.myWrap .mypd_deWrap {display:block; float:left; margin-left:10px; width:calc(100% - 72px)}
.myWrap .mypd_deWrap.sm {display:block; float:left; width:100%;}
.myWrap .mypd_deWrap ul {position:relative; width:100%;}
.myWrap .mypd_deWrap ul li {float:left; display:block; position:relative; line-height:2; color:#888}
.myWrap .mypd_deWrap ul li:first-child {padding-right:15px;}
.myWrap .mypd_deWrap ul li::after {content:''; position:absolute; top:10px; right:6.5px; width:1px; height:12px; background-color:#e5e5e5}
.myWrap .mypd_deWrap.sm ul li::after {height:10px;}
.myWrap .mypd_deWrap ul li:last-child::after {display:none}
.myWrap .mypd_deWrap .pd_brd {display:-webkit-box; text-overflow:ellipsis; overflow:hidden; line-height: 1.5; word-break:break-all; -webkit-line-clamp:2; -webkit-box-orient:vertical; font-size:13px; color:#555}
.myWrap .mypd_deWrap .state {font-size:14px; font-weight:bold; color:#888}
.myWrap .my_topBox {clear:both; padding:25px 20px;}
.tab_inr .subTxt {margin-bottom:15px; font-size:15px; font-weight:500; color:#333}
.tab_inr ._lst .badge {height:22px; min-width:34px; padding:0 8px;}
.tab_inr .txt {font-size:14px; color:#555}
.tab_inr .txt .num {font-size:16px;}
.tab_inr .txt .txtGry {font-size:12px; color:#888}
.tab_inr .btn_bk {margin:20px 0; font-size:17px;font-weight:500; border-radius:3px;}
.badge { height:22px; line-height:inherit; border-radius:50px 50px; font-size:12px;}
.lstBox {display:block; height:35px; border-bottom:1px solid #e5e5e5; position:relative; padding:0 21px; text-align:left; font-size:16px}
.lstBox .list_bar {width:80%}
.lstBox .list_bar li {padding-right:21px; font-size:14px}
/* 1:1 문의 */
.myIqy {display:block; width:100%;}
.myIqy li._lst {position:relative; border-bottom:1px solid #e5e5e5}
.myIqy .myIqy_box {padding:25px 20px}
.myIqy .myIqy_box.view {background-color:#f5f5f5}
.myIqy_box .seller, .myIqy_box .seller.list_bar {margin-left:25px}
.myIqy_box .mypd_lst li.ord_box {display:flex; justify-content:center; align-items:center; padding:15px 20px; border-bottom:1px solid #e5e5e5}
.myIqy_box .mypd_lst li.ord_box::before {padding-left:2px; position:absolute; bottom:0px; left:-20px; content:''; height:48px; background-color:#d0d0d0;}
.myIqy_box .mypd_lst li.ord_box.br0 {position:relative; padding:0; margin-left:17px; width:100%; border:0}
.myIqy_box .pd_thum {display:inline-block; float:left}
.myIqy_box .pd_thum a {display:block;}
.myIqy_box .pd_thum a img {width:48px; height:48px}
.myWrap .mypd_deWrap a {display:block}
.myWrap .myIqy .pd_brd {display:-webkit-box; overflow:hidden; max-height:15px; word-wrap:normal; line-height: 1.3; -webkit-line-clamp:1;-webkit-box-orient:vertical; font-size:12px; color:#888}
.myWrap .myIqy_box .mypd_deWrap ul li {font-size:12px; color:#ababab}
.list_bar {display:block;}
.list_bar li {float:left; position:relative; padding-right:21px; color:#ababab}
.list_bar li a {display:block;}
.list_bar li.on {font-weight:bold; color:#333}
.list_bar li:last-child {padding:0}
.list_bar li:last-child::before {display:none}
.list_bar li::before {content: ''; position:absolute; top:5px; right:9px; width:1px; height:12px; background-color:#e5e5e5}
.list_bar.mdf li::before {right:10px;}
.list_bar.info {display:inline-block; margin-top:10px; width:100%; font-size:14px; color:#888}
.list_bar.info .date {font-size:13px; font-family:'proxima-nova'}
.list_bar.info li {padding-right:12px; font-weight:400; color:#888}
.list_bar.info li::before {right:6px; height:10px; background-color:#e5e5e5;}
.list_bar.mdf {position:absolute; top:24px; right:20px; display:inline-block;}
.ico.line {margin-right:10px; width:13px; height:13px; background-position: -150px -66px;}
/* ----------------------------------------- 문의 작성하기 -------------------------------------------- */
/* 상품 문의 작성하기 */
#header .box_left.nbk {padding-left:20px; display:inline-block;}
.sltType1 .sel_arrow {top:16px}
.delBtn .btn_pd {float:right;padding:11px 14px; margin:-12px -12px 0 0; display:inline-block; }
.delBtn .delete {display:inline-block; width:14px; height:12px;}
.myWrap .sub_tit.brdT {padding-top:25px; border-top:1px solid #e5e5e5}
.txtwrite_wrap {padding:25px 20px}
.txtwrite_wrap .write_info li {font-size:12px; color:#888}
.txtwrite_wrap .sltType .sel_arrow {top:14px}
.txtwrite_wrap .sltType {width:100%}
.txtwrite_wrap .sltType select {font-size:13px; color:#333}
.txtwrite_wrap .iqy_inr {position:relative; display:block; margin-top:15px; overflow:hidden; border-radius:3px; border:1px solid #e5e5e5}
.txtwrite_wrap .iqy_inr .pd_lst .ord_box {display:block;}
.txtwrite_wrap .iqy_inr .pd_thum{position:absolute; top:15px; left:15px}
.txtwrite_wrap .iqy_inr .pd_deWrap {float:left; padding-left:67px; width:89%}
.txtwrite_wrap .iqy_inr .list_bar li {font-size:12px; color:#888}
.txtwrite_wrap .iqy_inr .list_bar li:first-child {max-width:70%}
.txtwrite_wrap .input_textarea {position:relative; font-size:15px; width:100%}
.txtwrite_wrap .input_textarea .count {position:absolute; right:10px; bottom:10px; font-size:12px}
.txtwrite_wrap .input_textarea .count .bk {color:#000}
.txtwrite_wrap .input_textarea textarea {height:180px; padding:10px; border:1px solid #e5e5e5; border-radius:0}
.txtwrite_wrap .input_textarea textarea:active {border-radius:0}
.write_check {margin-top:10px; font-size:15px}
/* btn */
.myWrap .btn_sel {margin-top:15px;text-align:center; color:#555; border-radius:3px; border:1px solid #ababab}
.myWrap .btn_sel a {display:block; padding:10.5px; font-size:16px; font-weight:500; color:#555}
.last_btn_white {z-index:10; display:block; float:left; width:49%; border:1px solid #000; background:#fff; font-size:17px; color:#555; line-height:17px; height:45px;}
.last_btn_black {display:block; float:right; width:100%; border:1px solid #000; background:#000; font-size:17px; color:#fff !important; line-height:17px; height:45px;}
.last_btn_black.wd50 {width:49%;}
.txtwrite_wrap .typeSelect {padding:15px 0; width:100%; white-space:nowrap; width:100%; overflow-y:hidden; font-size:13px}
.typeSelect ul li {float:left; margin-top:5px; margin-right:10px; font-weight:300}
.typeSelect ul li a {text-align: center; display:block; width:74px; height:30px; font-size:13px; font-weight:400; vertical-align:middle; border-radius:50px 50px; -webkit-border-radius:50px 50px; color:#888; background-color:#f0f0f0}
.typeSelect ul li a span {padding-top:5px; display:inline-block;}
.typeSelect ul li.on a {color:#fff; background-color:#3067cc}
.write_info {text-indent:-9px; padding:12px 0 0 10px; font-size:13px; color:#333}
.write_info li {font-size:13px; list-style-position:inside;}
.write_info_wrap  li {margin:0 0 8px; line-height:1.4; font-size:13px; font-weight:400; color:#333;}
.write_info_wrap  li::last-child {margin-bottom:0; color:#888}
.write_info_wrap  li::before {display:inline-block; content:''; border-radius:20%; -webkit-border-radius:20%; width:2px;height:2px; vertical-align:2px; margin-right:3px; background-color:#888}
.myWrap .pdB25 {display:inline-block; padding-bottom:25px}
.img_rgt_wrap .img_lst {float:left; clear:both; width:100%;}
.img_rgt_wrap .img_lst a {display:block;}
.img_rgt_wrap .img_lst .btn_del {position:absolute; right:0; top:0; width:22px; height:22px}
.img_rgt_wrap .img_lst li {float:left; position:relative; width:23%; max-height:155px; margin-right:2.2%;}
.img_rgt_wrap .img_lst li:nth-last-child(1) {margin-right:0%;}
.img_rgt_wrap .img_lst img {width:100%; max-height:155px;}
.img_rgt_wrap .img_lst .img_rgt {display:block; width:100%; min-height:74px; max-height:155px; background-color:#e5e5e5; border:1px solid #333}

@media screen and (min-width:220px) and (max-width:890px) {
    .sltType1 .sel_arrow {top:19px}
}
@media screen and (min-width:300px) and (max-width:359px) {
    .txtwrite_wrap .iqy_inr .pd_deWrap {width:62%}
}
@media screen and (min-width:360px) and (max-width:400px) {
    .txtwrite_wrap .iqy_inr .pd_deWrap {width:77%}
}
@media screen and (min-width:401px) and (max-width:509px) {
    .txtwrite_wrap .iqy_inr .pd_deWrap {width:80%}
}
@media screen and (min-width:510px) and (max-width:890px) {
    .txtwrite_wrap .iqy_inr .pd_deWrap {width:90%}
}
@media screen and (min-width:590px) and (max-width:1920px) {
    .img_rgt_wrap .img_lst .img_rgt {display:block; width:100%; min-height:74px; height:155px;}
}

/* ----------------------------------------- 문의 상품 선택하기 -------------------------------------------- */
.iqySel_wrap {padding:25px 20px}
.iqySel_wrap .pd_lst .v_center {display: flex; justify-content: center; align-items: center;}
.iqySel_wrap .pd_lst .ord_box {position:relative; display:block}
.iqySel_wrap .pd_lst .ord_box:first-child .default_check {top:0}
.iqySel_wrap .pd_lst .pd_thum { position:absolute; left:40px}
.iqySel_wrap .iqy_inr .list_bar {width:100%}
.iqySel_wrap .iqy_inr .list_bar li {max-width:70%}
.iqySel_wrap .odrNum {margin-bottom:25px}
.iqySel_wrap .odrNum .pdT10 {padding-top:10px}
.mypd_lst .pdT10 {padding-top:9px}
.iqySel_wrap .pd_deWrap {padding-top:5px; min-width:60%; display:block; justify-content: center; align-items: center; position:absolute; left:110px;}
.iqySel_wrap .pd_deWrap a { display:block}
.iqySel_wrap .write_info {padding-top:0}
.iqySel_wrap .default_check {position:absolute; left:0px; top:15px}
.iqySel_wrap .pd_lst {width:96%;}
.my.iqySel_wrap .pd_brd {width:100%}
@media screen and (min-width:361px) and (max-width:600px) {
    .iqySel_wrap .pd_deWrap .pd_brd {width:90%}
}

/* @media screen and (min-width:320px) and (max-width:360px) {
    .iqySel_wrap .pd_deWrap {width:61%}
}
@media screen and (min-width:361px) and (max-width:800px) {
    .iqySel_wrap .pd_deWrap {width:70%}
} */
