@charset "utf-8";
/* dt qz */
/* 진단테스트 */
.dt_diag header {padding: 18px 0 0px;}
.dt_diag header .header_inner{width:100%; padding-right:20px;}
.dt_diag header .sub_title{display: flex; align-items: center;}
.dt_diag header .sub_title .accuracy_progress_wrap{margin-left:15px; width: 100%;}
.dt_diag header .sub_title .accuracy_progress_wrap .accuracy_desc{height:17px; font-size:12px; font-weight:500;   line-height: 1.33;}
.dt_diag header .sub_title .accuracy_progress_wrap .accuracy_progress{margin-top:5px; width:100%; height:5px; max-width: 229px; border-radius: 3px; overflow: hidden; background-color: #f5f5f5;}
.dt_diag header .sub_title .accuracy_progress_wrap .accuracy_progress .bar{display: block; height: 5px; border-radius: 2.5px;  background-color: #32d6c5;}
.dt_diag header .diag_time{flex-shrink: 0;}
.dt_diag header .diag_time time{height: 24px; font-size: 18px; font-weight: 500; line-height: 1.56; letter-spacing: -0.01px;}
.dt_diag .main_contents .wrap {height: calc(100vh - 419px);}
.dt_diag .quiz_desc {margin-top: 35px;}
.dt_diag .main_contents.notepad_on .wrap {height: auto; overflow: inherit;}

/*incorrect_select_date*/
.incorrect_select_date{margin:32px auto 0; width:100%; max-width: 335px; padding:0 20px; }
.incorrect_select_date .select_date_btn{padding:14px 20px; display: flex; align-items: center; gap:21px; width:100%; border-radius: 15px; box-shadow:0 0 0 1px#ffffff inset; color:#ffffff;}
.incorrect_select_date .select_date_btn span{position: relative; height:19px; font-weight: 500;}
.incorrect_select_date .select_date_btn span::before{content: ""; position: absolute; top:50%; right:-10px; transform: translateY(-50%); display: block; width:1px; height: 14px; background-color:var(--incorrect_list_text); }
.incorrect_select_date .select_date_btn time{ height:22px; font-size:16px; font-weight:bold; line-height:1.5;}
.incorrect_select_date .select_date_btn i{margin-left:auto;}

/*dt incorrect_list  */
.dt.incorrect .incorrect_list {margin-top: 20px; }
.dt.incorrect .container {height: calc(100vh - 192px);}
.dt.incorrect .container.multi_choice .main_contents>.wrap {height: calc(100vh - 498px);}
.dt.incorrect .incorrect_check .check_inner .bubble_desc::before {top: initial; bottom:100%; transform: rotate(180deg);}

/* ai diagnostic test */
.ai_diag{background-color: #ffffff;}
.ai_diag header .sub_title .text_wrap h2 {color: #303030;}
.ai_diag  .container {margin-top: 0px; height: auto; background-color: #ffffff;}

.ai_diag .main_contents {padding-top: 0; padding-bottom: 0;}
.ai_diag .main_contents .wrap{padding:0;}
.ai_diag .ai_diag_slider_wrap{padding:0 20px; overflow: hidden;}
.ai_diag .ai_diag_slider_wrap .slider_item{margin-right:40px;}
.ai_diag .ai_diag_slider_wrap .slider_item:last-child{margin-right:0;}
/* slider intro */
.ai_diag .ai_diag_slider_wrap .ai_diag_intro{padding-top:9.9753vh;}
.ai_diag .ai_diag_slider_wrap .ai_diag_intro .img_wrap{display: flex; justify-content: center}
.ai_diag .ai_diag_slider_wrap .ai_diag_intro .img_wrap figure{max-width:307px;}
.ai_diag .ai_diag_slider_wrap .ai_diag_intro .img_wrap figure .mo_img{display:block;}
.ai_diag .ai_diag_slider_wrap .ai_diag_intro .img_wrap figure .ta_img{display:none;}
.ai_diag .ai_diag_slider_wrap .ai_diag_intro .text_wrap{margin-top:30px;}
.ai_diag .ai_diag_slider_wrap .ai_diag_intro .text_wrap h3{font-size: 24px; font-weight: bold; line-height: 1.33; letter-spacing: -0.01px; text-align: center; color: #303030;}
.ai_diag .ai_diag_slider_wrap .ai_diag_intro .text_wrap p{margin-top:20px; font-weight: 500; text-align: center; color: #666;}
.ai_diag .ai_diag_slider_wrap .ai_diag_intro .text_wrap p br:nth-child(2){display: none;}
/* slider notice*/
.ai_diag .ai_diag_slider_wrap .ai_diag_notice{padding-top:4.3103vh; padding-bottom:134px;}
.ai_diag .ai_diag_slider_wrap .ai_diag_notice .notice_title{display:block; font-size: 20px; font-weight: bold; line-height: 1.3; letter-spacing: -0.01px; text-align: center;}
.ai_diag .ai_diag_slider_wrap .ai_diag_notice .ai_diag_notic_box:nth-of-type(1){margin-top:31px;}
.ai_diag .ai_diag_slider_wrap .ai_diag_notice .ai_diag_notic_box:nth-of-type(n+2){margin-top:23px;}
.ai_diag .ai_diag_slider_wrap .ai_diag_notice .img_wrap{position: relative; margin: 0 auto; max-width: 202px; }
.ai_diag .ai_diag_slider_wrap .ai_diag_notice .img_wrap .ch{width:140px; height:120px;}
.ai_diag .ai_diag_slider_wrap .ai_diag_notice .img_wrap .blue_bubble{position: absolute; top:0; right:0; padding:14px 15px 16px; width:78px; height:78px; border-radius: 50%; background-image: linear-gradient(135deg, var(--gradationStart), var(--gradationEnd) 100%);}
.ai_diag .ai_diag_slider_wrap .ai_diag_notice .img_wrap .blue_bubble::before{content: ""; position: absolute; transform: rotate(45deg); z-index: -1; bottom:0; left:0; border-top: 16px solid var(--gradationEnd); border-left: 9px solid transparent; border-right: 9px solid transparent;}
.ai_diag .ai_diag_slider_wrap .ai_diag_notice .text_wrap{padding:20px 42px; border-radius: var(--borderRadius); background-color: #f2f7ff; }
.ai_diag .ai_diag_slider_wrap .ai_diag_notice .text_wrap p{font-size: 16px; font-weight: 500; line-height: 1.5; text-align: center; }
.ai_diag .ai_diag_slider_wrap .ai_diag_notice .text_wrap p br:nth-child(2){display: none;}
/* slider select level */
.ai_diag .ai_diag_slider_wrap .ai_diag_select_level{padding-top:5.54187vh; padding-bottom:162px;}
.ai_diag .ai_diag_slider_wrap .ai_diag_select_level ul li:nth-child(n+2){margin-top: 20px;}
.ai_diag .ai_diag_slider_wrap .ai_diag_select_level ul li a{padding: 20px 30px;  border-radius: var(--borderRadius); box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.02); background-color: #f2f7ff;}
.ai_diag .ai_diag_slider_wrap .ai_diag_select_level ul li a .diag_sele_header{display: flex; justify-content: space-between; align-items: center;}
.ai_diag .ai_diag_slider_wrap .ai_diag_select_level ul li a .diag_sele_header .select_level{font-size: 24px; font-weight: bold; line-height: 1.33;
  letter-spacing: -0.01px;}
.ai_diag .ai_diag_slider_wrap .ai_diag_select_level ul li:first-child a .diag_sele_header i{width:68px;}
.ai_diag .ai_diag_slider_wrap .ai_diag_select_level ul li:nth-child(4) a .diag_sele_header i{width:78px;}
.ai_diag .ai_diag_slider_wrap .ai_diag_select_level ul li a .text_wrap{margin-top:10px;}
.ai_diag .ai_diag_slider_wrap .ai_diag_select_level ul li a .text_wrap p{font-size: 16px; font-weight: 500; line-height: 1.5;}
.ai_diag .ai_diag_slider_wrap .ai_diag_select_level ul li a.active {background-color: transparent; background-image: linear-gradient(106deg, var(--gradationStart) 3%, var(--gradationEnd) 97%);}
.ai_diag .ai_diag_slider_wrap .ai_diag_select_level ul li a.active .diag_sele_header .select_level{color:#ffffff;}
.ai_diag .ai_diag_slider_wrap .ai_diag_select_level ul li a.active .text_wrap p{color:#ffffff;}
/* slider guide */
.ai_diag .ai_diag_slider_wrap .ai_diag_guide{padding:60px 20px 0;}
.ai_diag .ai_diag_slider_wrap .ai_diag_guide .diag_guide_title{display:block; font-size: 20px; font-weight: bold; line-height: 1.3; letter-spacing: -0.01px; text-align: center;}
.ai_diag .ai_diag_slider_wrap .ai_diag_guide .diag_guide_info{position:relative; margin-top:70px; display: flex; gap: 40px;}
.ai_diag .ai_diag_slider_wrap .ai_diag_guide .diag_guide_info::before{content: ""; position: absolute; top:0; left:50%; transform: translateX(-50%); display: block; width:1px; height:126px; background-color: rgba(48, 48, 48, 0.1);}
.ai_diag .ai_diag_slider_wrap .ai_diag_guide .diag_guide_info .info_box{width:50%; display: flex; flex-direction: column; align-items: center; }
.ai_diag .ai_diag_slider_wrap .ai_diag_guide .diag_guide_info .info_box .text_wrap{margin-top:10px;}
.ai_diag .ai_diag_slider_wrap .ai_diag_guide .diag_guide_info .info_box .text_wrap p{display: flex; justify-content: center; align-items: center; min-height: 39px; font-weight: 500; line-height: 1.43; text-align: center;}
.ai_diag .ai_diag_slider_wrap .ai_diag_guide .diag_guide_info .info_box .text_wrap span{margin-top:10px; display: block; font-size: 20px; font-weight: bold;
 line-height: 1.3; letter-spacing: -0.01px; text-align: center; }
.ai_diag .ai_diag_slider_wrap .ai_diag_guide .diag_guide_desc{margin-top:80px;}
.ai_diag .ai_diag_slider_wrap .ai_diag_guide .diag_guide_desc p{font-size: 16px; font-weight: bold; line-height: 1.5; text-align: center; color: #666666;}
/* slider dot */
.ai_diag_dot{padding-top:20px; display: flex; justify-content: center; align-items: center; gap:0 5px;}
.ai_diag_dot span{margin:0!important; display: block; width: 5px; height: 5px; border-radius: 2.5px;
  background-color: #dddddd; opacity: 1; transition: width .3s;}
.ai_diag_dot span.swiper-pagination-bullet-active {width: 15px; background-color: var(--bulletColor); }

/* slider btn */
.ai_diag .bottom_btn_wrap{position:fixed; bottom:0; left:0; right:0; z-index: 1; width:100%; display: flex; flex-direction: column; align-items: center; }
.ai_diag .bottom_btn_wrap .btn_wrap{position: relative; display: flex; width:100%; height:92px;}
.ai_diag .bottom_btn_wrap .btn_wrap .bottom_btn{padding:30px 0 38px; text-align: center; transition: width, opacity,visibility, .3s;} 
.ai_diag .bottom_btn_wrap .btn_wrap .bottom_btn.ad_diag_prev{flex-shrink: 0;  width:34.7%; background-color: #f2f7ff; }
.ai_diag .bottom_btn_wrap .btn_wrap .bottom_btn.ad_diag_next{width:100%; background-color: #bfcfe7; pointer-events: none;}
.ai_diag .bottom_btn_wrap .btn_wrap .bottom_btn.ad_diag_next.active{ background-color: transparent; background-image: linear-gradient(110deg, var(--gradationStart), var(--gradationEnd) 100%);  pointer-events: auto;}
.ai_diag .bottom_btn_wrap .btn_wrap .bottom_btn span{ font-size: 16px; font-weight: bold; line-height: 1.5;}
.ai_diag .bottom_btn_wrap .btn_wrap .bottom_btn.ad_diag_prev span{color: var(--subText); }
.ai_diag .bottom_btn_wrap .btn_wrap .bottom_btn.ad_diag_next span{color: #ffffff; }
.ai_diag .bottom_btn_wrap .btn_wrap .bottom_btn.ad_diag_start{display: none; position: absolute; top:0; width:100%; height:0; left:0; opacity: 0; visibility: hidden; overflow: hidden; background-color: transparent; background-image: linear-gradient(110deg, var(--gradationStart), var(--gradationEnd) 100%); color: #ffffff;}
.ai_diag .bottom_btn_wrap .btn_wrap .bottom_btn.ad_diag_start.active{display: block;  height:100%;  opacity: 1; visibility: visible; }
.ai_diag .swiper-button-disabled{display: none; } 


@media (max-width: 599px) and (min-height: 741px){
  /* slider btn */
  .ai_diag .bottom_btn_wrap {position: fixed;  margin-top: 0;}
}

@media (max-width: 319px) and (min-height: 741px){
  .ai_diag .ai_diag_slider_wrap .ai_diag_notice .text_wrap p {font-size: 14px;}
  .ai_diag .ai_diag_slider_wrap .ai_diag_notice .text_wrap p br{display: none;}
  .ai_diag .ai_diag_slider_wrap .ai_diag_select_level ul li a .text_wrap p {font-size: 14px;} 

  /* slider btn */
  .ai_diag .bottom_btn_wrap {position: relative;  margin-top: 40px;}
}


/* 폴드 */
@media (max-width:319px){  
  .dt_diag header .sub_title .accuracy_progress_wrap .accuracy_desc {display: none;} 

  /* slider guide */
  .ai_diag .ai_diag_slider_wrap .ai_diag_guide {padding-bottom: 120px;}
}

@media (max-width: 360px){
  /* slider guide */
  .ai_diag .ai_diag_slider_wrap .ai_diag_guide .diag_guide_desc {margin-top: 40px;}
}

@media (min-width:600px){  
  .dt_diag header .header_wrap{height:auto;}
  .dt_diag header .diag_time time {height: 27px; font-size: 20px; line-height: 1.3;}
  .dt_diag header .sub_title .accuracy_progress_wrap .accuracy_desc { height: 19px; font-size: 14px; line-height: 1.43;}
  .dt_diag header .sub_title .accuracy_progress_wrap .accuracy_progress {margin-top: 10px; max-width: 500px;}

  /*incorrect_select_date*/
  .incorrect_select_date{margin:45px auto 0; }
 
  .dt.incorrect .container {height: calc(100vh - 227px);}
  .dt.incorrect .main_contents>.wrap{height: calc(100vh - 251px);}
  .dt.incorrect .container.multi_choice .main_contents>.wrap {height: calc(100vh - 677px);}
 
  /* ai diag slider  */
  .ai_diag_dot {padding-top: 50px;}
  .ai_diag .ai_diag_slider_wrap .slider_content{margin:0 auto; width: 550px;}
  .ai_diag .ai_diag_slider_wrap .ai_diag_intro .img_wrap figure{max-width:308;}
  .ai_diag .ai_diag_slider_wrap .ai_diag_intro .img_wrap figure .mo_img{display:none;}
  .ai_diag .ai_diag_slider_wrap .ai_diag_intro .img_wrap figure .ta_img{display:block;}
  .ai_diag .ai_diag_slider_wrap .ai_diag_intro .text_wrap {margin-top: 40px;}  
  .ai_diag .ai_diag_slider_wrap .ai_diag_intro .text_wrap p {font-size: 18px; line-height: 1.56; letter-spacing: -0.01px;}
  .ai_diag .ai_diag_slider_wrap .ai_diag_intro .text_wrap p br{display: none;}
  .ai_diag .ai_diag_slider_wrap .ai_diag_intro .text_wrap p br:nth-child(2),
  .ai_diag .ai_diag_slider_wrap .ai_diag_intro .text_wrap p br:nth-child(4){display: block;}
  .ai_diag .ai_diag_slider_wrap .ai_diag_notice .notice_title {font-size: 24px; line-height: 1.33; letter-spacing: -0.01px;}
  .ai_diag .ai_diag_slider_wrap .ai_diag_notice .box1 .text_wrap p br{display: none;}
  .ai_diag .ai_diag_slider_wrap .ai_diag_notice .box1 .text_wrap p br:nth-child(2){display: block}
  .ai_diag .ai_diag_slider_wrap .ai_diag_guide .diag_guide_info {margin: 100px auto 0; width: 480px;}
  .ai_diag .ai_diag_slider_wrap .ai_diag_guide .diag_guide_desc {margin-top: 90px;}
  .ai_diag .ai_diag_slider_wrap .ai_diag_guide .diag_guide_desc br{display: none;}
  .ai_diag .bottom_btn_wrap {position: fixed;  margin-top: 0;}
  .ai_diag .bottom_btn_wrap .btn_wrap .bottom_btn.ad_diag_prev {width: 50%;} 
}


@media (min-width:600px) and (orientation: portrait) {   
  .dt_diag header {padding:25px 0 29px; }    
  .dt_diag .main_contents {padding:0;}
  .dt_diag .main_contents .wrap {height: calc(100vh - 588px);}
  .dt_diag .main_contents.notepad_on .wrap {padding: 0 25px;} 
  .ai_diag .wrap {max-width: inherit;}  

  .ai_diag .ai_diag_slider_wrap .ai_diag_intro{padding-top:17.3728vh;}
  .ai_diag .ai_diag_slider_wrap .ai_diag_notice {padding-top: 9.7457vh;} 
  .ai_diag .ai_diag_slider_wrap .ai_diag_notice .ai_diag_notic_box:nth-of-type(1) {margin-top: 80px;}
  .ai_diag .ai_diag_slider_wrap .ai_diag_notice .ai_diag_notic_box:nth-of-type(n+2) {margin-top: 63px;}
  .ai_diag .ai_diag_slider_wrap .ai_diag_select_level {padding-top: 14.8305vh;} 
  .ai_diag .ai_diag_slider_wrap .ai_diag_guide {padding-top: 18.22032vh;}   
}

@media (min-width:712px) and (orientation: landscape) { 
  .dt_diag .main_contents {padding: 0; height: calc(100vh - 52px);} 
  .dt_diag .main_contents .wrap {height: 100%; padding: 0; max-width: inherit;} 

  .dt_diag .main_contents.notepad_on + .input_tool .note_wrap {width: 100%;}

  .dt_diag .input_tool {height: calc(100vh - 52px);}
  .dt_diag .input_tool .tools_controll .inner_wrap .tool_check_btn_wrap button {padding: 17px 20px 16px;}   
} 


@media (min-width:1024px) and (orientation: landscape) {
  .dt_diag header {padding: 22px 0 32px;}  
  .dt_diag header .sub_title .accuracy_progress_wrap .accuracy_progress { max-width: 600px;}
  .dt_diag .quiz_desc {margin-top: 40px;}
  .dt_diag .main_contents {padding: 0; height: calc(100vh - 88px);}  
  .dt_diag .main_contents .wrap {height: 100%;}

  .dt_diag .input_tool {height: calc(100vh - 88px);}
  .dt_diag .input_tool .tools_controll .inner_wrap .tool_check_btn_wrap button {padding: 17px 20px 16px;}
    
  .dt_diag .main_contents.notepad_on {padding: 0;}
  .dt_diag .main_contents.notepad_on {height: calc(100vh - 177px);}
  .dt_diag .main_contents.notepad_on .wrap {max-width: inherit; padding: 0px 10px;}

  /*incorrect_select_date*/
  .incorrect_select_date{margin:21px auto 0; }

  .dt.incorrect .container {height: calc(100vh - 203px);}
  .dt.incorrect .container.multi_choice .main_contents>.wrap {height: 100%;}
  .incorrect_check .exam_content {max-height: 320px!important;}
  
  .ai_diag_dot {padding-top: 10px;}
  .ai_diag .ai_diag_slider_wrap .ai_diag_notice .slider_content {width: inherit;}
  .ai_diag .ai_diag_slider_wrap .ai_diag_notice .diag_notic_box_wrap{width: 836px; margin:66px auto; display: flex; gap:0 36px;}
  .ai_diag .ai_diag_slider_wrap .ai_diag_notice .diag_notic_box_wrap .ai_diag_notic_box{width:400px;}
  .ai_diag .ai_diag_slider_wrap .ai_diag_notice .ai_diag_notic_box:nth-of-type(1) {margin-top: 0;}
  .ai_diag .ai_diag_slider_wrap .ai_diag_notice .ai_diag_notic_box:nth-of-type(n+2) { margin-top: 0;}
  .ai_diag .ai_diag_slider_wrap .ai_diag_intro {padding-top:11.2195vh;}
  .ai_diag .ai_diag_slider_wrap .ai_diag_notice {padding-top: 12.8048vh; padding-bottom: 100px;}
  .ai_diag .ai_diag_slider_wrap .ai_diag_select_level {padding-top: 6.0975vh; padding-bottom: 100px;}
  .ai_diag .ai_diag_slider_wrap .ai_diag_guide {padding-top: 8.5365vh;}  
}


@media (min-width:1024px)  and (max-height:719px) and (orientation: landscape){
  .ai_diag .ai_diag_slider_wrap .ai_diag_select_level {padding-bottom: 160px;}
}
