@charset "utf-8";

:root{
	--bulletColor:#00bcfe;
	--gradationStart:#0098fd;
	--gradationEnd:#5a8bee;
	--moreBadgeBg:#00bcfe;
	--targetRing:#26CDFE;
	--icon_main:#0ACEFF;
	--icon_yellow:#FDDA61;
	--icon_sub_01:#9974FD;
	--icon_sub_02:#D1F1F9;
	--whiteColor:#ffffff;
	--topicGradationStart:#7061e5;
	--topicGradationEnd:#6460f0;
	--arithmetic_icon:#00bcfe;
	--subText:#458ef1;
	--subActive:#3d90f3;
	--countrySelectBg:#f2f7ff;
	--checkColor:#3d90f3;
	--scrollBar:#3d83ea;	
	--coureLevelBg : #10b3fa;
	--currentSubjectBgStart:#0098fd;
	--currentSubjectBgEnd:#5a8bee;
	--courseLine:#b8d4f8;
	--incorrect_list_text:#bfcfe7;
	--incorrect_list_bg:#7eb0f6;
	--trans_qna_card:#568eea;
	--point_yellow:#ffbe30;
	--point_yellow_g_start:#ffc445;
	--point_yellow_g_end:#ffca39;
	--disabled_bg:#BFCFE7;
	--disabled_text:#F0F6FF;
	--pressed_bg:#3375DB;
	--pressed_text:#FFFFFF;
	--borderRadius:20px;
}
.senior{
	--bulletColor:#0597ef;
	--gradationStart:#1c52b7;
	--gradationEnd:#1a4698;
	--moreBadgeBg:#264bad;
	--targetRing:#1B97EF;
	--icon_main:#1B97EF;
	--icon_yellow:#FDCE36;
	--icon_sub_01:#3264C6;
	--countrySelectBg:#f2f7ff;
	--arithmetic_icon:#1b98f0;
	--subText:#264bad;	
	--subActive:#264bad;
	--checkColor:#22429f;
	--scrollBar:#264bad;
	--topicGradationStart:#264bad;
	--topicGradationEnd:#3a62cc;
	--currentSubjectBgStart:#264bad;
	--currentSubjectBgEnd:#3a62cc;
	--courseLine:#bcd1f4;
	--point_yellow:#ffbe30;
	--point_yellow_g_start:#ffc445;
	--point_yellow_g_end:#ffca39;
	--disabled_bg:#BFCFE7;
	--disabled_text:#F0F6FF;
	--pressed_bg:#193D81;
	--pressed_text:#FFFFFF;
	--borderRadius: 5px;
}

/*arrow icon color*/
.gray_arrow .arrow_line{stroke:#999999;}
.white_arrow .arrow_line{stroke:#ffffff;}
.s_gray_arrow .arrow_line{stroke:#909090;}

.white_arrow.black_arrow .arrow_line{stroke: #303030!important;}

/* main grade cion */
.main_grade_icon stop:first-child{stop-color: var(--gradationStart);}
.main_grade_icon stop:last-child{stop-color: var(--gradationEnd);}

/*weekly mission icon 화살,과녁 */
.wm_circle_blue{fill:#eaeaea;}
.wm_circle_white{fill:#f5f5f5;}
.weekly_arrow{display:none;}
.arrow_stick{fill:#424256;}
.arrow_feather{fill:#FC8677;}
/*완료된 화살 과녁*/
.active .wm_circle_blue{fill:var(--targetRing);}
.active .wm_circle_white{fill:#f5f5f5;}
.active .weekly_arrow{display:block;}

/* 2022.07.14 gnb icons*/
.gnb_wm_icon_48  .st0{fill:var(--targetRing);}
.gnb_wm_icon_48 .st1{fill:#ffffff;}
.gnb_wm_icon_48 .st2{fill:#424256;}
.gnb_wm_icon_48 .st3{fill:#FC8677;}
.gnb_bq_icon_48 .st0{fill:var(--icon_main);}
.gnb_bq_icon_48 .st1{fill:var(--icon_yellow);}
.gnb_bq_icon_48 .st2{fill:var(--icon_sub_01);}
.gnb_bq_icon_48 .st3{fill:#424256;}
.gnb_market_icon_48 .st0{fill:var(--icon_main);}
.gnb_market_icon_48 .st1{fill:var(--icon_yellow);}
.gnb_market_icon_48 .st2{fill:var(--icon_sub_01);}
.gnb_market_icon_48 .st3{fill:var(--icon_sub_02);}

/*main icon color*/
/* 2022.07.14 */
.daily_icon .flag{fill:var(--icon_main);}
.daily_icon .flag_stick{fill:var(--icon_yellow);}
.daily_icon .flag_star{fill:var(--whiteColor);}
.topic_icon .st0{fill:var(--icon_yellow);}
.topic_icon .st1{fill:var(--whiteColor)}
.topic_icon .st2{fill:var(--icon_main);}
.ocr_icon .st0{fill:var(--icon_main);}
.ocr_icon .st1{fill:var(--icon_sub_01);}
.ocr_icon .st2{fill:var(--icon_yellow );}
.market_icon .st0{fill:var(--icon_main);}
.market_icon .st1{fill:var(--icon_yellow);}
.market_icon .st2{fill:var(--icon_sub_01);}
.market_icon .st3{fill:var(--icon_sub_02);}
.event_icon .st0{fill:var(--icon_main);}
.event_icon .st1{fill:var(--icon_yellow);}
.game_icon .st0{fill:var(--icon_main);}
.game_icon .st1{fill:var(--icon_yellow);}
/* 2022.07.14 */
.monthly_test_icon .st0{fill:var(--icon_main);}
.monthly_test_icon .st1{fill:var(--icon_sub_02);}
.monthly_test_icon .st2{fill:var(--icon_yellow);}
.monthly_test_icon .st3{fill:var(--icon_orange);}
.pop_quiz_cion .st0{fill:var(--targetRing);}
.pop_quiz_cion .st1{fill:var(--icon_yellow);}

/* 20220810 메인 워크시트 다운로드, 비디오 아이콘*/
.main_worksheet_24 .st0{fill:var(--subText);}
.main_video_icon_24 .st0{fill:var(--subText);}

/*서브 연산 아이콘*/
.arithmetic_icon .st0{fill:var(--bulletColor);}
.arithmetic_icon .st0.opacity_50{opacity:.5;}

.arithmetic_icon.cal_icon .st0{fill:var(--bulletColor); }
.arithmetic_icon.cal_icon .st1{stroke:var(--bulletColor);}
.arithmetic_icon.cal_icon .st2{fill:var(--bulletColor); stroke:var(--bulletColor);}
.arithmetic_icon.cal_icon .opacity_50{opacity:.5;}

/*체크 아이콘*/
.check_icon .st0{stroke: var(--checkColor);}
.check_icon.ative .st0{stroke: var(--checkColor);}

/*셀렉트박스 아래보기 아이콘*/
.selec_down_arrow .arrow_line{stroke:#909090;}
.selec_down_arrow.on .arrow_line{stroke:var(--subActive)!important;}

/*문제 concept check icon*/
.concept_check_icon{fill:var(--subText);}

.gray_arrow .arrow_line{stroke:#999999!important;}
.active.arithmetic_icon .st0 {fill: #ffffff!important;}
.active.gray_arrow .arrow_line{stroke:#ffffff!important;}

.active.arrow_12 .arrow_line{stroke:#303030!important;}

.course_start_icon .st1{fill:var(--icon_yellow);}

/*cl course_line*/
.mo_course_line path{fill:none;stroke:#FFFFFF;stroke-width:15;}
.mo_course_line .move_line{stroke:var(--courseLine); stroke-dashoffset: 428.6225280761719; stroke-dasharray: 428.6225280761719;}
.mo_course_line.first_course_line .move_line{stroke-dashoffset: 428.6225280761719; stroke-dasharray: 428.6225280761719;}

.port_course_line path{fill:none;stroke:#FFFFFF;stroke-width:20;}
.port_course_line .move_line{stroke:var(--courseLine); stroke-dashoffset: 678.5575561523438; stroke-dasharray: 678.5575561523438;}
.port_course_line.first_course_line .move_line{stroke-dashoffset: 559.233642578125; stroke-dasharray: 559.233642578125;  }

.land_course_line path{fill:none;stroke:#FFFFFF;stroke-width:20;}
.land_course_line .move_line{stroke:var(--courseLine); stroke-dashoffset: 678.5575561523438; stroke-dasharray: 678.5575561523438; }

/* 2022.08.31 cl complete arrow icon color */
.b_arrow_16.basic_arrow .st0{stroke:#faac00!important; }
.b_arrow_16.below_basic_arrow .st0{stroke:#fc8677!important; }
.b_arrow_16.proficient_arrow .st0{stroke: #9974fd!important; }
.b_arrow_16.advanced_arrow .st0{stroke: #00b48a!important; }


/* qz */
/* 좌우 반전 아이콘 */
.change_icon .st1{fill:var(--subText);}

.down_arrow_12 .arrow_line{stroke:#909090;}
.down_arrow_12.active .arrow_line{stroke:#ffffff;}

.tool_check_arrow .arrow_line{stroke: #ecf1f8;}
.tool_check_arrow.active .arrow_line{stroke: #ffffff;}

/* 패드 펜, 지우개 */
.pad_pen .pen,
.pad_eraser .eraser{fill:#dddddd;} 
.pad_pen.active .pen,
.pad_eraser.active .eraser{fill:var(--subText);}

/*qz 키패드 분수 a,b,제곱, 루트 */
.frac_icon_a .b,
.frac_icon_b .b,
.root_icon .b,
.square_icon .b{fill:none;stroke:#323c46;stroke-width:2px;}

.frac_icon_a.active .b,
.frac_icon_b.active .b,
.root_icon.active .b,
.square_icon.active .b{stroke:#ffffff;}

/* more key */
.more_key_btn .st1{fill:#303030;}
.more_key_btn.active .st1{fill:#ffffff;}

.more_key_btn .b{stroke:#323c46;}
.more_key_btn.active .b{stroke:#ffffff;}
.more_key_btn_f .b{fill:#323c46;}
.more_key_btn_f.active .b{fill:#ffffff;}

.more_key_btn_ap .c{fill:#323c46;}
.more_key_btn_ap.active .c{fill:#ffffff;}

/* 분수 a,b,제곱, 루트  추가 입력 패드 아이콘 */
.prev_arrow_icon .st1,
.next_arrow_icon .st1{fill:#dddddd;}
.prev_arrow_icon.active .st1,
.next_arrow_icon.active .st1{fill:#999999;}

/* 물음표 아이콘 */
.question_icon .st1{fill:var(--subText);}

/* 오답 태그 아이콘 */
.precent10_icon .st1{fill:var(--subText);}
.incorrect_icon .st1{fill:var(--subText);}
.frequently_icon .st1{fill:var(--subText);}

.white_arrow_12 .line{stroke:#fff;}
.check_icon_12 .line{stroke:#999;}
.check_icon_12.inc_check_on .line{stroke:#ffffff;}
.down_arrow_12.inc_check_on .arrow_line{stroke:#ffffff;}

/* 배경흰색 퍼렁이 아이콘 */
.bgw_arrow_icon .st0{stroke:var(--subText)}

/*blue plus icon */
.plus_icon .st1{fill:var(--subText);}

/* page pagination btn */
.page_arrow_prev .st1,
.page_arrow_next .st1{stroke:#dddddd;}
.page_arrow_prev.active .st1,
.page_arrow_next.active .st1{stroke:#adadad;}


/*input check */
.input_check .st0{stroke:#ddd;}
.input_check.active .st0{stroke:var(--subText);}

/*blue right arrow 16  */
.c_arrow_right_12 .st0{stroke:var(--subText);}
.c_arrow_right_16 .st0{stroke:var(--subText);}


/* circle_time_icon */
.circle_time_icon .icon_bg{fill:#d4e5ff}
.circle_time_icon .st0{stroke:var(--subText);}

/*  */
.thin_plus_48 .st0{fill:var(--subText)}

/*result course learning */
.accuracy_icon .st1{fill:var(--subText);}
.time_icon_24 .st1{fill:var(--subText);}
.c_right_arrow_16 .st1{stroke:var(--subText);}

.worksheet_icon_24 .st1{fill:var(--subText);}
.worksheet_icon_16 .st1{fill:var(--subText);}

/* nt 2022.07.21 */
.calender_icon_24 .st0{fill:var(--subText)}

/* dt ai daig select icon*/
.dt_level .st0{fill:#23BCFB;}
.dt_level .st1{fill:#23BCFB; opacity:0.5;}

.dt_level_04 .st0{fill:#12BCFB;}
.dt_level_04 .st1{opacity:0.5;fill:#00BCFE;}
.dt_level_04 .st2{fill:#00BCFE;}

.dt_level_05 .st0{fill:#00bcfe;}
.dt_level_05 .st1{opacity:0.5;fill:#00bcfe;}

.dt_level.active .st0{fill:#ffffff;}
.dt_level.active .st1{fill:#ffffff;}
.dt_level_04.active .st2{fill:#ffffff;}

.dt_guide_icon .st0{fill:#D4E5FF;}
.dt_guide_icon .st1{fill:var(--subText);}

.bubble_tap .tap{fill:var(--point_yellow);}

/* 프로필 edit */
.edit_pen_24 .st0{fill:var(--subText);}
.edit_pen_24 .st1{fill:var(--subText);}