@charset "utf-8";

:root {
  --btnColor:#325dff;
  --headerShadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.dark:root {
  --bgBlack : #000;
  --btnColor:#fff;
}

html {
    font-size: 10px;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  
  body {
    font-size: 1.6rem;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    line-height: 1.5;
    margin: 0;
  }
  
  h1,
  h2,
  h3 {

    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin: 0;
    line-height: 1.2
  }
  
  h4 {
    margin: 0;
  }
  
  h1 {
    font-size: 5rem;
    letter-spacing: -0.05rem;
  }
  
  @media (min-width: 1024px) {
    h1 {
      font-size: 10rem;
    }
  }
  
  h2 {
    font-size: 5rem;
  }
  
  @media (min-width: 1024px){
    h2 {
      font-size: 5rem
    }
  }
  
  h3 {
    font-size: 2.5rem;
  }
  
  @media (min-width: 1024px){
    h3 {
      font-size: 3.5rem
    }
  }

  input[type='checkbox'],
  input[type='radio'] {
      --active: var(--btnColor);
      --active-inner: #fff;
      --focus: 2px rgba(39, 94, 254, .3);
      --border: #BBC1E1;
      --border-hover: #275EFE;
      --background: #fff;
      --disabled: #F6F8FF;
      --disabled-inner: #E1E6F9;
      -webkit-appearance: none;
      -moz-appearance: none;
      height: 21px;
      outline: none;
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin: 0;
      cursor: pointer;
      border: 1px solid var(--bc, var(--border));
      background: var(--b, var(--background));
      transition: background .3s, border-color .3s, box-shadow .2s;
  }
  input[type='checkbox']:after,
  input[type='radio']:after {
      content: '';
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  }
  input[type='checkbox']:checked,
  input[type='radio']:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
  }
  input[type='checkbox']:disabled,
  input[type='radio']:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: .9;
  }
  input[type='checkbox']:disabled:checked,
  input[type='radio']:disabled:checked {
      --b: var(--disabled-inner);
      --bc: var(--border);
  }
  input[type='checkbox']:disabled + label,
  input[type='radio']:disabled + label {
      cursor: not-allowed;
  }
  input[type='checkbox']:hover:not(:checked):not(:disabled),
  input[type='radio']:hover:not(:checked):not(:disabled) {
      --bc: var(--border-hover);
  }
  input[type='checkbox']:focus,
  input[type='radio']:focus {
      box-shadow: 0 0 0 var(--focus);
  }
  input[type='checkbox']:not(.switch),
  input[type='radio']:not(.switch) {
      width: 21px;
  }
  input[type='checkbox']:not(.switch):after,
  input[type='radio']:not(.switch):after {
      opacity: var(--o, 0);
  }
  input[type='checkbox']:not(.switch):checked,
  input[type='radio']:not(.switch):checked {
      --o: 1;
  }
  input[type='checkbox'] + label,
  input[type='radio'] + label {
      font-size: 14px;
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: 4px;
  }
  input[type='checkbox']:not(.switch) {
      border-radius: 7px;
  }
  input[type='checkbox']:not(.switch):after {
      width: 5px;
      height: 9px;
      border: 2px solid var(--active-inner);
      border-top: 0;
      border-left: 0;
      left: 7px;
      top: 4px;
      transform: rotate(var(--r, 20deg));
  }
  input[type='checkbox']:not(.switch):checked {
      --r: 43deg;
  }
  input[type='checkbox'].switch {
      width: 38px;
      border-radius: 11px;
  }
  input[type='checkbox'].switch:after {
      left: 2px;
      top: 2px;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      background: var(--ab, var(--border));
      transform: translateX(var(--x, 0));
  }
  input[type='checkbox'].switch:checked {
      --ab: var(--active-inner);
      --x: 17px;
  }
  input[type='checkbox'].switch:disabled:not(:checked):after {
      opacity: .6;
  }
  input[type='radio'] {
      border-radius: 50%;
  }
  input[type='radio']:after {
      width: 19px;
      height: 19px;
      border-radius: 50%;
      background: var(--active-inner);
      opacity: 0;
      transform: scale(var(--s, 0.7));
  }
  input[type='radio']:checked {
      --s: .5;
  }


  
  /* layout */
  .wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  main {
    flex: 1;
  }
  
  .container {
    width: 1110px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  /* utilities */
  
  .bold {
    font-weight: bold;
  }
  
  .medium {
    font-weight: 500;
  }
  
  .light {
    font-weight: 300;
  }
  
  .font-family-alt {
    font-family: "Lato", Arial, Helvetica, sans-serif;
  }
  
  .bg {
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
  }
  
  .bg-color-grey {
    background-color: #fafafa;
  }
  
  .text-center {
    text-align: center;
  }
  
  .white {
    color: #fff;
  }
  
  .black-50 {
    color: rgba(0, 0, 0, 0.5);
  }
  
  .black-65 {
    color: rgba(0, 0, 0, 0.65);
  }
/*   
  .p20 {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  @media(min-width: 768px) {
    .p20 {
      padding-right: 0;
    }
  } */
  
  .btn {
    font-size: 1rem;
    padding: 1.5rem 2.5rem;
    display: inline-block;
    letter-spacing: 0.3em;
    text-decoration: none;
    color:#fff;
    background-color: var(--btnColor);
    border-radius: 3.6rem;
    transition: background-color 0.2s ease;
    margin-top: 5.4rem;
  }
  
  .btn:hover {
    background-color: #0000fd;
  }
  
  @media (min-width: 768px) {
    .btn {
      padding: 2.5rem 4.5rem;
      font-size: 1.6rem;
    }
  }
  
  /* animation */
  
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateX(-20%);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  
  /* header */
  
  .header {
    position: fixed;
    width: 100%;
    top: 0;
    padding-top: 2rem;
    transition: all 0.5s ease-in-out;
    z-index: 10000;
    box-shadow: var(--headerShadow);
  }
  

  .header a {
    display: inline-block;
    text-decoration: none;
    color: #d9f0ff;
    transition: all 0.2s ease-in-out;
  }
  
  @media (min-width: 1024px) {
    .header {
      padding-top: 6rem;
    }
  }
  
  .header--scroll {
    padding: 1rem 0;
    background-color: #222;
  }
  
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
  }
  
  .header__logo {
    font-family: 'Dancing Script';
    font-size: 2.8rem;
    margin-bottom: 0;
  }
  
  .header__nav {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: opacity 0.2s;
  }
  
  .header__nav.open {
    background-color: #fff;
    opacity: 1;
    z-index: 1;
  }
  
  .header__nav.open a {
    animation: fadeInRight 0.3s ease forwards;
  }
  
  .header__nav.open a:nth-of-type(1) {
    animation-delay: 0.4s;
  }
  
  .header__nav.open a:nth-of-type(2) {
    animation-delay: 0.6s;
  }
  
  .header__nav.open a:nth-of-type(3) {
    animation-delay: 0.8s;
  }
  
  .header__nav.open a:nth-of-type(4) {
    animation-delay: 1s;
  }
  
  
  @media(min-width: 1024px) {
    .header__nav {
      position: static;
      display: block;
      width: auto;
      height: auto;
      opacity: 1;
      font-size: 1.2rem;
    }
  }
  
  .header__nav a {
    opacity: 0;
    color: #222;
    font-size: 3rem;
    transition: all 0.2s ease;
  }
  
  @media(min-width: 1024px) {
    .header__nav a {
      font-size: 1.2rem;
      letter-spacing: 0.2em;
      color: #d9f0ff;
      margin-bottom: 0;
      opacity: 1;
    }
  }
  
  .header__nav a:hover {
    color: var(--btnColor);
  }
  
  @media(min-width: 1024px) {
    .header__nav a:hover {
      color: #0000fd;
    }
  }
  
  @media(min-width: 1024px) {
    .header__nav a:not(:first-child) {
      margin-left: 30px;
    }
  }
  
  .burger {
    z-index: 9999;
    cursor: pointer;
  }
  
  @media (min-width: 1024px) {
    .burger {
      display: none;
    }
  }
  
  .burger__line {
    position: relative;
    background-color: #fff;
    width: 20px;
    height: 3px;
    transition: 0.2s; 
  }
  
  .burger__line:not(:last-child) {
    margin-bottom: 4px;
  }
  
  .burger__line:nth-child(2) {
    transition: all 0.2s ease-in-out;
  }
  
  .burger.active .burger__line {
    background-color: #222; 
  }
  
  .burger.active .burger__line:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }
  
  .burger.active .burger__line:nth-child(2) {
    transform: translateY(7px) rotate(45deg);
    opacity: 0;
  }
  
  .burger.active .burger__line:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }
  
  /* hero */
  
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    background-image: linear-gradient(rgba(0, 0, 253, .22), rgba(0, 0, 253, .22)), url('https://baillieogrady.com/landing/landings/img/hero.jpg');
  }
  
  .hero__subheading {
    font-size: 1.8rem;
    letter-spacing: 0.01em;
    margin: 0;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .hero__subheading span {
    display: block;
  }
  
  /* domino */
  
  .domino {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  
  @media(min-width: 768px) {
    .domino {
      text-align: left;
    }
  }
  
  .domino--alt .domino__box--image {
    order: 1;
  }
  
  @media (min-width: 768px) {
    .domino--alt .domino__box--image {
      order: -1;
    }
  } 
  
  .domino--alt .domino__inner {
    margin-left: 0;
    margin-right: auto;
  }
  
  @media (min-width: 768px) {
    .domino--alt .domino__inner {
      padding: 50px 20px 50px 75px;
    }
  } 
  
  
  .domino__inner {
    padding: 50px 20px;
  }
  
  @media(min-width: 768px) {
    .domino__inner {
      max-width: 555px;
      margin-left: auto;
      padding: 90px 50px 100px 20px;
    }
  }
  
  .domino__inner p {
    padding-right: 20px;
  }
  
  .domino__box {
    flex: 1 100%;
  }
  
  @media(min-width: 768px) {
    .domino__box {
      flex: 1 50%;
    }
  }
  
  .domino__box--image {
    padding: 100px;
  }
  
  @media(min-width: 768px) {
    .domino__box--image {
      padding: 0;
    }
  }
  
  /* heading text */
  
  .heading-text {
    padding: 70px 0;
  }
  
  .heading-text__content {
    max-width: 770px;
    margin: 0 auto;
  }
  
  /* gallery */
  
  .gallery__container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
  
  .gallery__box {
    background-color: #fff;
    padding: 65px 50px 45px;
    flex: 1 100%;
    border: .5px solid #cecece;
    margin: 15px;
  }
  
  @media (min-width: 768px) {
    .gallery__box {
      flex: 1 calc(50% - 30px);
    }
  }
  
  @media (min-width: 1024px) {
    .gallery__box {
      flex: 1 calc(32% - 30px);
    }
  }
  
  .gallery__box h4 {
    margin: 25px 0 20px 0;
  }
  
  .gallery__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 88px;
    max-height: 88px;
    background-color: var(--btnColor);
    padding: 28px;
    border-radius: 50%;
  }
  
  /* video */
  
  .video__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 770px;
    margin: 0 auto;
    height: 80vh;
  }
  
  @media (min-width: 768px) {
    .video__content {
      height: 600px;
    }
  }
  
  .video__content h3 {
    margin-top: 6rem;
  }
  
  .video__play {
    display: inline-block;
  }
  
  .video__play svg {
    transition: all 0.2s ease;
  }
  
  .video__play:hover svg {
    transform: scale(1.2);
  }
  
  .footer {
    background-color: var(--btnColor);
    padding: 5.5rem 0;
  }
  
  .footer p {
    margin: 0;
    color: rgba(255, 255, 255, 0.52);
    font-size: 2rem
  }

  .header :where(h1,h2,h3) {
    color: #fff;
    background-color: #26CDFE;
  }

  @supports (-webkit-appearance: none) or (-moz-appearance: none) {
    
   
}



/* .shadow_style {
  position: relative;
  width: 30vw;
  height: 30vw;
  line-height: 30vw;
  text-align: center;
  color: #252B37;
  background-color: #151823;
  animation: textColor 10s ease infinite;
} */

.shadow_style:after {
  position: absolute;
  content: "";
  top: 5vw;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.75);
  -webkit-filter: blur(5vw);
  -moz-filter: blur(5vw);
  -ms-filter: blur(5vw);
  filter: blur(5vw);
  background: linear-gradient(270deg, #0fffc1, #7e0fff);
  background-size: 200% 200%;
  animation: animateGlow 10s ease infinite;
}

@keyframes animateGlow {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

