@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*:before,
*:after {
    box-sizing: border-box;
}
/* Some basic CSS overrides */
body {
    line-height: 1.5;
    min-height: 100vh;
    font-family: "Be Vietnam Pro", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222222;
    background: repeating-linear-gradient(
        45deg,
        #2b2b2b 0%,
        #2b2b2b 10%,
        #222222 0%,
        #222222 50%
      )
      0 / 15px 15px;
}

button,
input,
select,
textarea {
    font: inherit;
}
a {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

/* End basic CSS override */
.profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
    width: 90%;
    max-width: 300px;
    margin: 0 auto;
    background-color: #1b2028;
    border-radius: 16px;
    position: relative;
    border: 3px solid transparent;
    background-clip: padding-box;
    text-align: center;
    color: #f1f3f3;
    background-image: linear-gradient(135deg, rgba(117, 46, 124, 0.35), rgba(115, 74, 88, 0.1) 15%, #1b2028 20%, #1b2028 100%);
}

.profile:after {
    content: "";
    display: block;
    top: -3px;
    left: -3px;
    bottom: -3px;
    right: -3px;
    z-index: -1;
    position: absolute;
    border-radius: 16px;
    background-image: linear-gradient(135deg, #752e7c, #734a58 20%, #1b2028 30%, #2c333e 100%);
}

.profile-image {
    border-radius: 50%;
    overflow: hidden;
    width: 175px;
    height: 175px;
    position: relative;
    box-shadow: 0px 5px 50px 0px #6c44fc, 0px 0px 0px 4px rgb(107 74 255 / 50%);
    /* animation: neon1 1.5s ease-in-out infinite alternate; */
}

.profile-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.profile-username {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1.5rem;
    animation: neon3 1.5s ease-in-out infinite alternate;
}

.profile-user-handle {
    color: #7d8396;
}

.profile-actions {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-actions > * {
    margin: 0 0.25rem;
}

.btn {
    border: 0;
    background-color: transparent;
    padding: 0;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    line-height: 1;
    transition: 0.15s ease;
}

.btn--primary {
    border-radius: 99em;
    background-color: #3772ff;
    background-image: linear-gradient(135deg, #5587ff, #3772ff);
    color: #fff;
    padding: 0 1.375em;
}

.btn--primary:hover, .btn--primary:focus {
    background-size: 150%;
    background-image: linear-gradient(135deg, #9340dc, #46077c);
}

.btn--icon {
    height: 46px;
    width: 46px;
    border-radius: 50%;
    border: 3px solid #343945;
    color: #7d8396;
}

.btn--icon i {
    font-size: 1.25em;
}

.btn--icon:hover, .btn--icon:focus {
    border-color: #7d8396;
}

.profile-links {
    margin-top: 3.5rem;
}

.profile-links i:hover {
    transform: scale(1.2);
    color: #fff;
}

.link {
    text-decoration: none;
    color: #7d8396;
    margin-left: 0.375rem;
    margin-right: 0.375rem;
}

.link i {
    font-size: 1.25em;
}

@media screen and (min-width: 768px) {

}
  
  /* #container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
   */
  /*Neon*/
  /* a {
    text-align: center;
    font-size: 7em;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1;
    text-decoration: none;
    color: #fff;
  }
  
  a:nth-child(1) {
    font-family: Monoton;
    animation: neon1 1.5s ease-in-out infinite alternate;
  }
  
  a:nth-child(2) {
    font-family: Iceland;
    animation: neon2 1.5s ease-in-out infinite alternate;
  }
  
  a:nth-child(3) {
    font-family: Pacifico;
    animation: neon3 1.5s ease-in-out infinite alternate;
  }
  
  a:nth-child(4) {
    font-family: "Press Start 2P";
    animation: neon4 1.5s ease-in-out infinite alternate;
  }
  
  a:nth-child(5) {
    font-family: Audiowide;
    animation: neon5 1.5s ease-in-out infinite alternate;
  }
  
  a:nth-child(6) {
    font-family: Vampiro One;
    animation: neon6 1.5s ease-in-out infinite alternate;
  }
   */
  /*glow*/
  
  @keyframes neon1 {
    from {
        box-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 30px #ff1177,
        0 0 60px #ff1177, 0 0 60px #ff1177, 0 0 100px #ff1177;
    }
    to {
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
        0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177;
    }
  }
  
  @keyframes neon2 {
    from {
        box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228dff,
        0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff, 0 0 150px #228dff;
    }
    to {
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff,
        0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff, 0 0 75px #228dff;
    }
  }
  
  @keyframes neon3 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ffdd1b,
        0 0 70px #ffdd1b, 0 0 80px #ffdd1b, 0 0 100px #ffdd1b, 0 0 150px #ffdd1b;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ffdd1b,
        0 0 35px #ffdd1b, 0 0 40px #ffdd1b, 0 0 50px #ffdd1b, 0 0 75px #ffdd1b;
    }
  }
  
  @keyframes neon4 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #b6ff00,
        0 0 70px #b6ff00, 0 0 80px #b6ff00, 0 0 100px #b6ff00, 0 0 150px #b6ff00;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #b6ff00,
        0 0 35px #b6ff00, 0 0 40px #b6ff00, 0 0 50px #b6ff00, 0 0 75px #b6ff00;
    }
  }
  
  @keyframes neon5 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff9900,
        0 0 70px #ff9900, 0 0 80px #ff9900, 0 0 100px #ff9900, 0 0 150px #ff9900;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff9900,
        0 0 35px #ff9900, 0 0 40px #ff9900, 0 0 50px #ff9900, 0 0 75px #ff9900;
    }
  }
  
  @keyframes neon6 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de,
        0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de,
        0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
    }
  }
  /*Make stuff responsive*/

  /* text Style */
@font-face {
    src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2")
      format("woff2");
    font-family: "Meta";
    font-style: normal;
    font-weight: normal;
  }
  /*
  body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #8357eb;
    width: 100vw;
    height: 100vh;
  }
   */
  main {
    transition: all 0.5s;
    -webkit-text-stroke: 4px #d6f4f4;
    font-variation-settings: "wght" 900, "ital" 1;
    font-size: 15rem;
    text-align: center;
    color: transparent;
    font-family: "Meta", sans-serif;
    text-shadow: 10px 10px 0px #07bccc,
      15px 15px 0px #e601c0,
      20px 20px 0px #e9019a,
      25px 25px 0px #f40468,
      45px 45px 10px #482896;
    cursor: pointer;
  }
  
  main:not(:hover) {
    font-variation-settings: "wght" 100, "ital" 0;
    text-shadow: none;
  }



/* card */
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
*, *:before, *:after {
    box-sizing: border-box;
}

body {
    /* background: linear-gradient(to bottom, #8c7a7a 0%, #af877c 65%, #af877c 100%) fixed;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/coc-background.jpg") no-repeat center center fixed;
    background-size: cover; */
    font: 14px/20px "Lato", Arial, sans-serif;
    color: #9E9E9E;
    margin-top: 30px;
}

.slide-container {
    margin: auto;
    width: 600px;
    text-align: center;
}

.wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
}

.wrapper:focus {
    outline: 0;
}

.clash-card {
    background: white;
    width: 300px;
    display: inline-block;
    margin: auto;
    border-radius: 19px;
    position: relative;
    text-align: center;
    box-shadow: -1px 15px 30px -12px black;
    z-index: 9999;
}

.clash-card__image {
    position: relative;
    height: 230px;
    margin-bottom: 35px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.clash-card__image--barbarian {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/barbarian-bg.jpg");
}

.clash-card__image--barbarian img {
    width: 400px;
    position: absolute;
    top: -65px;
    left: -70px;
}

.clash-card__image--archer {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/archer-bg.jpg");
}

.clash-card__image--archer img {
    width: 400px;
    position: absolute;
    top: -34px;
    left: -37px;
}

.clash-card__image--giant {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/giant-bg.jpg");
}

.clash-card__image--giant img {
    width: 340px;
    position: absolute;
    top: -30px;
    left: -25px;
}

.clash-card__image--goblin {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/goblin-bg.jpg");
}

.clash-card__image--goblin img {
    width: 370px;
    position: absolute;
    top: -21px;
    left: -37px;
}

.clash-card__image--wizard {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/wizard-bg.jpg");
}

.clash-card__image--wizard img {
    width: 345px;
    position: absolute;
    top: -28px;
    left: -10px;
}

.clash-card__level {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 3px;
}

.clash-card__level--barbarian {
    color: #EC9B3B;
}

.clash-card__level--archer {
    color: #EE5487;
}

.clash-card__level--giant {
    color: #F6901A;
}

.clash-card__level--goblin {
    color: #82BB30;
}

.clash-card__level--wizard {
    color: #4FACFF;
}

.clash-card__unit-name {
    font-size: 26px;
    color: black;
    font-weight: 900;
    margin-bottom: 5px;
}

.clash-card__unit-description {
    padding: 20px;
    margin-bottom: 10px;
}

.clash-card__unit-stats--barbarian {
    background: #EC9B3B;
}

.clash-card__unit-stats--barbarian .one-third {
    border-right: 1px solid #BD7C2F;
}

.clash-card__unit-stats--archer {
    background: #EE5487;
}

.clash-card__unit-stats--archer .one-third {
    border-right: 1px solid #D04976;
}

.clash-card__unit-stats--giant {
    background: #F6901A;
}

.clash-card__unit-stats--giant .one-third {
    border-right: 1px solid #de7b09;
}

.clash-card__unit-stats--goblin {
    background: #82BB30;
}

.clash-card__unit-stats--goblin .one-third {
    border-right: 1px solid #71a32a;
}

.clash-card__unit-stats--wizard {
    background: #4FACFF;
}

.clash-card__unit-stats--wizard .one-third {
    border-right: 1px solid #309eff;
}

.clash-card__unit-stats {
    color: white;
    font-weight: 700;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

.clash-card__unit-stats .one-third {
    width: 33%;
    float: left;
    padding: 20px 15px;
}

.clash-card__unit-stats sup {
    position: absolute;
    bottom: 4px;
    font-size: 45%;
    margin-left: 2px;
}

.clash-card__unit-stats .stat {
    position: relative;
    font-size: 24px;
    margin-bottom: 10px;
}

.clash-card__unit-stats .stat-value {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
}

.clash-card__unit-stats .no-border {
    border-right: none;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.slick-prev {
    left: 100px;
    z-index: 999;
}

.slick-next {
    right: 100px;
    z-index: 999;
}



