@charset "utf-8";

@font-face {
    font-family: 'Noto Sans KR';
    src: url('fonts/NotoSansKR-Regular.woff2') format('woff2'),
         url('fonts/NotoSansKR-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('fonts/NotoSansKR-Medium.woff2') format('woff2'),
         url('fonts/NotoSansKR-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('fonts/NotoSansKR-Bold.woff2') format('woff2'),
         url('fonts/NotoSansKR-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

/* ===============================
 * reset_css 
 * =============================== 
*/
* {margin: 0; padding: 0; font-family: 'Noto Sans KR','Noto Sans', 'Roboto', sans-serif; font-weight: 300;} 
*, *::before, *::after {
  box-sizing: border-box;
}
:root {
  --title:#050f26;
  --contents:#3d414a;
  --explain:#666;
  --disable:#8a8a8a;
  --white: #fff; 
  --black: #000;
  --black50: rgba(0,0,0,0.5);
  --black10: rgba(0,0,0,0.1);
  --bg-ctn: rgb(0, 0, 0); 
  --bg-wrap: #F1F2FD; 
  --bg-input: #e8e8e8; 
  --gray: #767676;
  --dark-gray: #222831; 
  --purple: #7056f5;
  --darkPurple: #4a42b9;
  --blue: #1e5bc5;
  --red: #ff3700;
  --darkBlue: #154292;
  /* --purple: #373e97; */
;
} 
svg {width:100%; height:100%}
img {width: 100%;}
a {color: var(--white); text-decoration: none; outline: none} 
a:hover, a:active {text-decoration: none;}
div {-webkit-tap-highlight-color: transparent;}
a, button, img {cursor:pointer; -webkit-tap-highlight-color: transparent;}
button {border:none; background:none; display:flex; justify-content: center; align-items: center;}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,time,figure,article,nav,header,footer,hgroup,
video,audio,aside,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin:0; padding: 0; border: 0; outline: 0; vertical-align: baseline; -moz-box-sizing: border-box; box-sizing: border-box; font-size:14px; line-height: 1.43;}
html, body {
  height: 100%;
  font-family: 'Noto Sans KR','Noto Sans', 'Roboto', sans-serif;
}
body {width: 100%;}
h1,h2,h3,h4,h5,h6{font-weight: bold;}
ol,ul{list-style: none;}
ul[role='list'],
ol[role='list'] {list-style: none;}
table{border-collapse: collapse; border-spacing: 0;}
caption,th,td{font-weight: normal;}
/* figure,article,header,footer,nav,hgroup,video,audio,aside,main {display: block;} */
a{display:block; color:#000; text-decoration: none;}
figure, img, i{font-size:0px; line-height: 1;}
figure img{width:100%; display:block;}
address{ font-style: unset;}

/* 스크롤 */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
/* ::-webkit-scrollbar-track {
    background-color: rgba(236, 236, 236, 0.2);
    border-radius: 3px;
}
::-webkit-scrollbar-thumb {
     height:3px;
     background-color: rgba(236, 236, 236, 1);
     border-radius: 10px;
} */

::-webkit-scrollbar-track {
    display: none;
}
/* ::-webkit-scrollbar-track:hover {
    background-color: rgb(175, 72, 72);
    background: none;
}
::-webkit-scrollbar-thumb {
     background-color: rgba (236, 236, 236, 0.5);
     border-radius: 10px;
     background: none;
}
::-webkit-scrollbar-thumb:hover {    
    background-color: rgb(96, 36, 165);
    background: none;
} */

/* 스크롤바 숨기기 */
::-webkit-scrollbar {
    display: none; /* 크롬, 사파리 등 웹킷 기반 브라우저 */
}

.hide {
  display:none !important; 
}

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    
}

/* checkbox / radioBTN / Switch */
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
input[type=checkbox],
input[type=radio] {
    --active: #275EFE;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, .3);
    --border: #BBC1E1;
    --border-hover: #275EFE;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }
  input[type=checkbox]:after,
input[type=radio]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  }
  input[type=checkbox]:checked,
input[type=radio]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
  }
  input[type=checkbox]:disabled,
input[type=radio]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  input[type=checkbox]:disabled:checked,
input[type=radio]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  input[type=checkbox]:disabled + label,
input[type=radio]:disabled + label {
    cursor: not-allowed;
    color:#9b99a6;
  }
  input[type=checkbox]:hover:not(:checked):not(:disabled),
input[type=radio]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  input[type=checkbox]:focus,
input[type=radio]:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  input[type=checkbox]:not(.switch),
input[type=radio]:not(.switch) {
    width: 21px;
  }
  input[type=checkbox]:not(.switch):after,
input[type=radio]:not(.switch):after {
    opacity: var(--o, 0);
  }
  input[type=checkbox]:not(.switch):checked,
input[type=radio]:not(.switch):checked {
    --o: 1;
  }
  input[type=checkbox] + label,
input[type=radio] + label {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
  }
  /* input[type=checkbox] + label:disabled,
input[type=radio] + label:disabled {
    color:#9b99a6;
  } */

  input[type=checkbox]:not(.switch) {
    border-radius: 7px;
  }
  input[type=checkbox]:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
  }
  input[type=checkbox]:not(.switch):checked {
    --r: 43deg;
  }
  input[type=checkbox].switch {
    width: 38px;
    border-radius: 11px;
  }
  input[type=checkbox].switch:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--ab, var(--border));
    transform: translateX(var(--x, 0));
  }
  input[type=checkbox].switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
  }
  input[type=checkbox].switch:disabled:not(:checked):after {
    opacity: 0.6;
  }

  input[type=radio] {
    border-radius: 50%;
  }
  input[type=radio]:after {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    transform: scale(var(--s, 0.7));
  }
  input[type=radio]:checked {
    --s: .5;
  }
}


select {
    overflow-y: auto; /* 옵션 내용이 넘칠 경우 수직 스크롤 표시 */
    max-height: 200px; /* 최대 높이 설정 */
}

/* 옵션 스크롤 스타일 */
select::-webkit-scrollbar {
    width: 10px; /* 스크롤바 너비 */
}

select::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* 스크롤바 트랙 배경색 */
}

select::-webkit-scrollbar-thumb {
    background-color: #888; /* 스크롤바 색상 */
    border-radius: 5px; /* 스크롤바 둥글게 처리 */
}

select::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* 스크롤바 호버 시 색상 변경 */
}



/* 버튼 아이콘 있는 라운드 기본형 */
.btn-type1.ico-link {
  padding-right: 10px;
  background: #F5F7FC url(../img/ico_link.svg) right .7rem center/ 1rem no-repeat;
  color: var(--darkBlue);
  /* border:1px solid var(--darkBlue); */
}

.btn-type1.ico-call {
  color: var(--darkBlue);
  padding-right: 10px;
  background: #F5F7FC url(../img/ico_tel.svg) right .7rem center/ 1rem no-repeat;
}
/* .btn-type1.fixed {
  position:absolute;
  bottom: 1rem;;
} */

.btn-wrap {
  /* width:100%; */
  display:flex;
  justify-content:space-around;
  align-items: end;
  text-align: center;
  border:none;
  gap: 8px;
}
/* 버튼 아이콘 없는 라운드 기본형 */
.btn-type1 {
  margin-top:8px;
  padding:6px 10px;
  display:block;
  width:100%;
  max-width: calc(100% - 1.2rem);
  text-align: left;
  font-size:1rem;
  line-height: inherit;
  border:1px solid #CCDBFF;
  background-color: #F5F7FC;
  border-radius: 5px;
  color:var(--darkBlue);
}
.chat-bubble .btn-type1 {
  max-width:100%;
}

.btn-btm-type {
  padding:0px 12px;
  display:inline-flex;
  width:100%;
  height:32px;
  text-align: center;
  font-size 0.815rem;
  border:none;
  font-size: .75rem;
  background-color: var(--white);
  border-radius: 30px 30px;
  color:var(--purple);
}

.btn-type2 {
     padding:6px 10px;
     display:block;
     width:100%;
     font-size:13px;
     text-align: left;
     color:var(--purple);
     border:none;
     background-color: #fff;
}
/* 최상단 보더 라운드 버튼 */
.btn-type3 {
   z-index: 31;
   padding:0 1.25rem 0 .8rem;
   height: 31px;
    display:block;
    border-radius: 20px 20px;
    font-weight: 500;
    font-family: Noto Sans KR;
    font-size: 13px;
    line-height: 0px;
    border:1px solid #DBDDF2;
    background-color: #fff;
    /* box-shadow: #3942AF1A; */
    color: var(--darkBlue);
    cursor:pointer;
    white-space: nowrap;
     background: url(../img/ico_arrow_red.svg) center right 10px no-repeat;
}

.btn-type4 {
  margin-top:5px;
  padding:6px 10px;
  display:block;
  width:100%;
  /* max-width: calc(100% - 1.2rem); */
  text-align: center;
  font-size:1rem;
  font-weight: 600;
  border:1px solid #ced1ea;
  background-color: #f0f2ff;
  border-radius: 10px;
  color:var(--purple);
}

.btn-type5{
  margin-top:8px;
  padding:6px 10px;
  display:block;
  width:100%;
  text-align: center;
  font-size:.815rem;
  line-height: inherit;
  border:1px solid #ccc;
  background-color: var(--white);
  border-radius: 5px;
  color:var(--contents);
}

.btn-type6 {
  margin-top:8px;
  padding:6px 10px;
  display:block;
  width:100%;
  text-align: left;
  font-size:.815rem;
  line-height: inherit;
  border:1px solid #ccc;
  border-radius: 5px;
  color:var(--contents);
}

.disabled {
  opacity: 0.65; 
  cursor: not-allowed;
  background-color: var(--disable);
  color:var(--contents);
}
.btn-type5:hover, .btn-type5:focus {
  border:1px solid var(--darkBlue);
  background-color: var(--darkBlue);
}

.btn-type6:hover, .btn-type6:focus {
  border:1px solid var(--darkBlue);
  background-color: #F5F7FC;
}

.btn-type5.disabled:hover, .btn-type5.disabled:focus {
  border:1px solid var(--disable);
  background-color: var(--disable);
  color:var(--contents);
  font-weight: 300;
}
.btn-type5:hover span, .btn-type5:focus span {
  font-weight: 500;
  color:var(--white);
}
.btn-type5.disabled:hover span, .btn-type5.disabled:focus span {
  color:var(--contents);
}


.btn-type-cancel {
  padding:6px;
  width:50%;
  font-size:13px;
  font-weight: 600;
  text-align: center;
  color:var(--white);
  white-space: nowrap;
  border-radius: .5rem;
  border:1px solid #6a5bc2;
  background-color: var(--purple);
}

.btn-type-close {
  padding:6px;
  width:50%;
  font-size:13px;
  font-weight: 600;
  text-align: center;
  color:var(--purple);
  white-space: nowrap;
  border-radius: .5rem;
  border:1px solid #6a5bc2;
  background-color: #f1f2fd;

}
.layer-popup {
  display:none;
}

.dim_bg {
  z-index: 90;
  position: fixed;
  width:100%;
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.7);
}

.dim_msg {
  z-index: 51;
  position: absolute;
  padding:1rem;
  margin:0 1rem;
  min-width: 200px;
  width:fit-content;
  min-height: 100px;
  height:fit-content;
  height:auto;
  display:grid;
  justify-content: center;
  align-items: center;
  text-align:center;
  border-radius: 1rem;
  background-color: #fff;
}

.dim_msg p {
  font-size: 1.3rem;
  font-weight: 700;
  color:var(--black);
}

/* .disabled:hover {
  border:1px solid var(--disable);
  background-color: var(--disable);
  color:#000;
}
.disabled:focus {
  background-color: var(--disable);
  color:#000;
} */

/* 셀렉트 박스 */

/* 기본 스타일 리셋 */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 5px; /* 보더를 라운드 처리 */
    padding: 8px 12px; /* 내부 여백 설정 */
    font-size: 16px; /* 폰트 사이즈 설정 */
    width: 100%; /* 가로 너비 100% 설정 */
    box-sizing: border-box; /* 박스 모델 설정 */
    outline: none; /* 포커스시 아웃라인 제거 */
    color:var(--black);
}

/* 선택된 옵션 스타일 */
select option:checked {
    background-color: #f0f0f0; /* 선택된 옵션의 배경색 */
}

.select-wrap .select-box {
  margin-top:10px;
}
.chat-bubble .select-wrap select {
  width: 100%;
  padding: 6px 20px; /* 내부 여백 조정 */
  font-size: 1rem;
  border: 1px solid #ccc;
  appearance: none;
  background: #fff url(../img/ico_select_arrow_gy.svg) no-repeat;
  /* background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="8" viewBox="0 0 12 8"><path fill="%23333" d="M1.4.8l5.3 5 5.3-5c.2-.2.5-.2.7 0s.2.5 0 .7l-6 5.7c-.2.2-.5.2-.7 0l-6-5.7c-.2-.2-.2-.5 0-.7s.5-.2.7 0z"/></svg>'); */
  background-position: calc(100% - 10px) center; /* 화살표 위치 */
}

.chat-bubble .select-wrap option {
  color:var(--purple);
}

.chat-bubble .select-wrap select:focus {
    border-color: var(--purple); /* 포커스된 경우 보더 색상 변경 */
    background: #fff url(../img/ico_select_arrow_ny.svg) no-repeat;
    background-position: calc(100% - 10px) center; /* 화살표 위치 */
}

.chat-bubble .select-wrap select option {
    padding: 10px 20px; /* 내부 여백 조정 */
}

.chat-bubble .select-wrap select option:first-child {
    display: none; /* "select box" 디폴트 옵션 숨기기 */
}
.select-wrap.two {
  display:flex;
  justify-content: center;
  align-items: center;
  gap:10px;
}

.select-wrap.two .select-box {
  width:50%;
}






/* .control-group {
     display: inline-block;
     vertical-align: top;
     background: #fff;
     text-align: left;
     box-shadow: 0 1px 2px rgba(0,0,0,0.1);
     padding: 30px;
     width: 200px;
     height: 210px;
     margin: 10px;
}
 .control {
     display: block;
     position: relative;
     padding-left: 30px;
     margin-bottom: 15px;
     cursor: pointer;
     font-size: 18px;
}
 .control input {
     position: absolute;
     z-index: -1;
     opacity: 0;
}
 .control__indicator {
     position: absolute;
     top: 2px;
     left: 0;
     height: 20px;
     width: 20px;
     background: #e6e6e6;
}
 .control--radio .control__indicator {
     border-radius: 50%;
}
 .control:hover input ~ .control__indicator, .control input:focus ~ .control__indicator {
     background: #ccc;
}
 .control input:checked ~ .control__indicator {
     background: #2aa1c0;
}
 .control:hover input:not([disabled]):checked ~ .control__indicator, .control input:checked:focus ~ .control__indicator {
     background: #0e647d;
}
 .control input:disabled ~ .control__indicator {
     background: #e6e6e6;
     opacity: 0.6;
     pointer-events: none;
}
 .control__indicator:after {
     content: '';
     position: absolute;
     display: none;
}
 .control input:checked ~ .control__indicator:after {
     display: block;
}
 .control--checkbox .control__indicator:after {
     left: 8px;
     top: 4px;
     width: 3px;
     height: 8px;
     border: solid #fff;
     border-width: 0 2px 2px 0;
     transform: rotate(45deg);
}
 .control--checkbox input:disabled ~ .control__indicator:after {
     border-color: #7b7b7b;
}
 .control--radio .control__indicator:after {
     left: 7px;
     top: 7px;
     height: 6px;
     width: 6px;
     border-radius: 50%;
     background: #fff;
}
 .control--radio input:disabled ~ .control__indicator:after {
     background: #7b7b7b;
}
 .select {
     position: relative;
     display: inline-block;
     margin-bottom: 15px;
     width: 100%;
}
 .select select {
     display: inline-block;
     width: 100%;
     cursor: pointer;
     padding: 10px 15px;
     outline: 0;
     border: 0;
     border-radius: 0;
     background: #e6e6e6;
     color: #7b7b7b;
     appearance: none;
     -webkit-appearance: none;
     -moz-appearance: none;
}
 .select select::-ms-expand {
     display: none;
}
 .select select:hover, .select select:focus {
     color: #000;
     background: #ccc;
}
 .select select:disabled {
     opacity: 0.5;
     pointer-events: none;
}
 .select__arrow {
     position: absolute;
     top: 16px;
     right: 15px;
     width: 0;
     height: 0;
     pointer-events: none;
     border-style: solid;
     border-width: 8px 5px 0 5px;
     border-color: #7b7b7b transparent transparent transparent;
}
 .select select:hover ~ .select__arrow, .select select:focus ~ .select__arrow {
     border-top-color: #000;
}
 .select select:disabled ~ .select__arrow {
     border-top-color: #ccc;
} */